@charset "utf-8";
a,
a:hover {
    color: #0e847a;
    text-decoration: none
}

.navbar,
body,
html,
p {
    margin: 0
}

:not(.fancybox-overlay *) {
    transition: all .5s ease
}

body,
html {
    padding: 0;
    font-family: "Microsoft JhengHei", "微軟正黑體", Arial, Helvetica, sans-serif;
    color: #565b54;
    background-color: #0e847a;
    -webkit-font-smoothing: antialiased;
    border: none
}

a:hover {
    opacity: .8
}

.ani {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

img {
    border: 0
}

.clear {
    clear: both
}

.pad0 {
    padding: 0!important
}

.row {
    margin-left: 0;
    margin-right: 0
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0
}

.container {
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:768px) {
    .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:1200px) {
    .container {
        width: 1200px
    }
}

.navbar {
    background: 0 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 6px solid #f1dc00;
    opacity: .9;
    border-top: none;
    border-right: none;
    border-left: none
}

@media (min-width:768px) {
    .navbar {
        background-color: #0e847a;
        border: none;
        opacity: 1;
        border-radius: 0;
        padding-bottom: 1px;
        position: relative
    }
}

.navbar-default .navbar-toggle {
    float: left;
    background: 0 0;
    border: none;
    position: absolute;
    margin: 0;
    padding: 9px 40px 9px 12px
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: 0 0
}

.mainpage,
.productIntro,
.productList {
    background-size: cover
}

.navbar-header {
    background-color: #0e847a
}

@media (min-width:768px) {
    .navbar-header {
        padding: 0
    }
}

.navbar-brand {
    float: none;
    padding: 0
}

.navbar-brand>div {
    text-align: center
}

@media(min-width:768px) {
    .navbar-brand>div {
        text-align: left
    }
    .navbar-brand div {
        padding: 0 50px
    }
}

@media(min-width:992px) {
    .navbar-brand div {
        padding: 0 30px
    }
}

@media(min-width:1200px) {
    .navbar-brand div {
        padding: 0
    }
}

.navbar-brand img {
    margin: 10px 0;
    height: 50px;
    display: inline-block
}

@media (min-width:768px) {
    .navbar-brand img {
        margin: 10px 0;
        height: auto;
        display: inline-block
    }
}

.navbar-nav {
    margin: 0
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #002D28
}

.nav>li {
    text-align: center;
    opacity: .95
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
    font-size: 18px;
    background-color: #0e847a!important;
    padding-left: 0;
    padding-right: 0;
    color: #FFF!important
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff!important;
    opacity: .9!important
}

.navbar-default .collapsed.navbar-toggle:focus,
.navbar-default .collapsed.navbar-toggle:hover {
    background-color: inherit
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #0E847A
}

.dropdown:hover .dropdown-menu a {
    text-align: center;
    color: #fff!important
}

.dropdown:hover .dropdown-menu a:hover {
    background-color: #f1dc00;
    color: #0E847A!important;
    font-weight: 700;
    opacity: 1
}

#sidebar-wrapper {
    display: block
}

#sidebar-wrapper .sidebar-nav {
    padding: 5px 25px
}

.sidebar-cancel-btn {
    float: right;
    font-size: 20px;
    color: rgba(160, 160, 160, .6);
    padding: 4px
}

#sidebar-wrapper .sidebar-bottom {
    padding: 10px 10%
}

#sidebar-wrapper .sidebar-bottom>* {
    padding-bottom: 10px
}

#sidebar-wrapper li {
    border-bottom: 1px solid rgba(160, 160, 160, .6)
}

#sidebar-wrapper li:nth-child(2) {
    border-top: 3px solid #f1dc00
}

#sidebar-wrapper li:last-child {
    border-bottom: 3px solid #f1dc00
}

@media (min-width:768px) {
    #sidebar-wrapper {
        display: none
    }
    .dropdown:hover .dropdown-menu a {
        text-align: left
    }
    .navbar-nav {
        float: right;
        height: 80px
    }
    .navbar-nav>li {
        height: 100%;
        padding-left: 2px
    }
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .navbar-default .nav>li>a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 13px
    }
}

@media (min-width:840px) {
    .navbar-nav>li {
        height: 100%;
        padding-left: 8px
    }
    .navbar-default .nav>li>a {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 14px
    }
}

@media (min-width:991px) {
    .navbar-nav>li {
        height: 100%;
        padding-left: 15px
    }
    .navbar-default .nav>li>a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 15px
    }
}

@media (min-width:1100px) {
    .navbar-nav>li {
        height: 100%;
        padding-left: 12px
    }
    .navbar-default .nav>li>a {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 18px
    }
}

.navbar .row {
    padding-left: 0;
    padding-right: 0;
    margin: auto
}

@media (min-width:768px) {
    .navbar .row {
        padding-left: 0;
        padding-right: 0;
        margin: 0
    }
}

@media (min-width:1100px) {
    .navbar .row {
        margin: auto;
        max-width: 1200px
    }
}

#footerContainer {
    background-color: #0f847b;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 8px solid #f0dc01
}

#footerContainer>div {
    padding: 0 0 55px
}

#footerContainer,
#footerContainer a {
    color: #FFF
}

#copyrightContainer {
    text-align: center;
    padding: 10px 0
}

#footerContainer .footerList .ingredients *,
#footerContainer .footerList .product *,
#footerContainer .footerList .theme * {
    padding: 2px 0;
    font-size: 13px
}

#footerContainer .footerList .title {
    font-weight: 700;
    font-size: 14px;
    padding: 4px 0
}

#footerContainer .footerList {
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: 32%
}

#footerContainer .footerList.ingredientsFooterList,
#footerContainer .footerList.cookingMethodFooterList {
    width: 22%
}

#footerContainer .footerList.productFooterList,
#footerContainer .footerList.themeFooterList {
    width: 27.5%
}

@media(min-width:768px) {
    #footerContainer .footerList {
        padding-bottom: 8px;
        padding-left: 12px;
        margin-bottom: 8px;
        width: 32%
    }
}

#footerContainer .footerList.btnContainer {
    width: 100%
}

#footerContainer .footerList.btnContainer>div {
    padding-top: 10px;
    text-align: center
}

#footerContainer .footerList:last-child,
#footerContainer .footerList:nth-child(3) {
    border-bottom: none
}

.footerListContainer {
    margin-bottom: 20px;
    height: 250px
}

@media(min-width:768px) {
    #footerContainer .footerList.ingredientsFooterList,
    #footerContainer .footerList.themeFooterList {
        width: 18%
    }
    #footerContainer .footerList.productFooterList {
        width: 28%
    }
    #footerContainer .footerList {
        border-bottom: none;
        padding-left: 0
    }
    #footerContainer .footerList.btnContainer {
        width: 29%;
        float: right
    }
    #footerContainer .footerList.btnContainer>div {
        text-align: right
    }
    .footerListContainer {
        margin-bottom: 40px;
        height: 190px
    }
    #footerContainer .footerList: last-child,
    #footerContainer .footerList: nth-child(3) {
        border-right: none
    }
}

#footerContainer .btnContainer {
    padding: 20px 0 0;
    text-align: center
}

.btnContainer img {
    padding: 8px 0
}

.btnContainer .facebookBtn,
.btnContainer .youtubeBtn {
    height: 48px
}

#footerContainer hr {
    border-color: #29b1a5;
    border-style: inset;
    border-width: 1px
}

#footerContainer hr.vertical {
    display: none
}

@media(min-width:768px) {
    #footerContainer .btnContainer {
        padding: 0;
        margin-top: 100px
    }
    .btnContainer .facebookBtn,
    .btnContainer .youtubeBtn {
        height: 48px
    }
    #footerContainer hr.vertical {
        display: block;
        height: 100%;
        float: left;
        margin: 0 1% 0 0
    }
}

#footerContainer .footerLinks a {
    padding: 0 8px;
    border-right: 1px solid #FFF;
    text-align: center;
    margin: 2px 0;
    float: left;
    width: 33.3%;
    height: 30px
}

@media(min-width:768px) {
    #footerContainer .footerLinks a {
        width: auto;
        height: auto;
        font-size: 12.5px
    }
}

#footerContainer .footerLinks a:last-child {
    border-right: 0
}

#footerTitle {
    font-size: 20px
}

#backtotopDiv {
    text-align: center
}

.footerCopyRight_line1,
.footerCopyRight_line2 {
    text-align: center;
    display: block
}

.mainContainer {
    background-image: url(../images/pagebg.jpg)
}

.mainContainer .container.swansonBreadcrumb img {
    vertical-align: top;
    margin-left: -3px;
    padding-right: 1px
}

@media(min-width:768px) {
    #footerTitle {
        font-size: 15px;
        padding-top: 25px
    }
    #backtotopDiv {
        float: right;
        position: absolute;
        right: 0
    }
    .footerCopyRight_line1,
    .footerCopyRight_line2 {
        display: block;
        text-align: left
    }
    .mainContainer .container.swansonBreadcrumb img {
        vertical-align: top;
        margin-left: -3px;
        padding-right: 1px;
        padding-top: 4px
    }
    .mainContainer .container.swansonBreadcrumb {
        margin: auto;
        padding-left: 205px;
        font-family: Meiryo;
    }
    .mainContainer .container.swansonBreadcrumb,
    .mainContainer .container.swansonBreadcrumb a {
        font-size: 18px;
        font-weight: 700;
        padding-top: 1px;
        font-family: Meiryo;
    }
}

.breadcrumb {
    color: #0e847a;
    font-size: 16px;
    padding: 4px 15px 8px;
    font-weight: 700;
    margin-bottom: 18px;
    background-color: #f1dc00
}

@media(min-width:768px) {
    .breadcrumb {
        color: #0e847a;
        padding: 14px 15px;
        font-weight: 700;
        margin-bottom: 25px;
        background-color: #f1dc00
    }
    .breadcrumb_mp {
        padding-bottom: 12px;
        background-color: #f1dc00
    }
}

.breadcrumb .glyphicon-menu-right {
    font-size: 10px;
    font-weight: 700;
    vertical-align: top;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px
}

#leftMenu .searchTool,
.menuContainer_m .searchTool {
    padding: 15px 16px 24px 20px;
    border-radius: 3px;
    font-size: 20px;
    background-color: #0f847b;
    color: #FFF;
    font-weight: 700
}

#leftMenu .searchTool {
    margin-bottom: 19px
}

#leftMenu .title {
    padding: 13px 9px 13px 25px;
    margin: 5px 0;
    background-color: #0f847b;
    color: #FFF;
    font-size: 18px;
    font-weight: 700
}

#leftMenu .collapsible {
    cursor: pointer
}

#leftMenu .collapsible div:first-child {
    width: 80%;
    display: inline-block
}

#leftMenu .collapsible div:last-child {
    width: 15%;
    font-size: 12px;
    display: inline-block;
    text-align: right;
    font-weight: 700
}

#leftMenu .collapsibleContent {
    border: 1px solid #0F847B;
    background-color: #FFF;
    padding: 5px 15px;
    font-size: 18px
}

#leftMenu .checkboxGroupTitle,
#leftMenu .collapsibleContent label {
    padding: 8px 4px;
    color: #0F847B;
    font-weight: 700;
    display: block;
    cursor: pointer
}

#leftMenu .checkboxGroupTitle .arrow {
    padding-right: 40%
}

#leftMenu .checkboxGroupContent {
    padding-left: 30px
}

#leftMenu .collapsibleContent label:hover {
    background-color: #0F847B;
    color: #FFF
}

#leftMenu .collapsibleContent [type=checkbox] {
    font-size: 15px;
    margin: 5px 8px 5px 5px
}

#leftMenu .collapsible .activeIcon {
    display: none
}

#leftMenu .collapsible .inActiveIcon,
#leftMenu .collapsible.active .activeIcon {
    display: block
}

#leftMenu .collapsible.active .inActiveIcon {
    display: none
}

#leftMenu>div:last-child {
    margin-bottom: 200px
}

#leftMenu,
#leftMenu * {
    transition: none
}

.recipeItem {
    padding: 0 5px;
    margin-bottom: 10px;
    height: auto;
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.recipeItem:nth-child(odd) {
    padding-left: 0
}

.recipeItem:nth-child(even) {
    padding-right: 0
}

.recipeItem .image {
    background-color: #FFF;
    position: relative
}

.recipeItem .image img {
    width: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.recipeItem .caption {
    width: 100%;
    background-color: #FFF;
    height: 60px
}

@media (min-width:768px) {
    .recipeItem {
        padding: 0 8px;
        margin-bottom: 10px
    }
    .recipeItem:nth-child(odd) {
        padding-left: 8px
    }
    .recipeItem:nth-child(even) {
        padding-right: 8px
    }
    .recipeItem .caption {
        height: 100px;
        max-height: 100px;
        display:inline-flex;
    }
}

.recipeDetail .recipeItem .title,
.recipeItem .title {
    color: #0F847B;
    font-family: Meiryo;
    display: inline-block;
    padding: 4px 0 0 1px;
    font-weight: 700;
    font-size: 18px;
    width: 65%
}

@media (min-width:768px) {
    .recipeItem .title {
        padding: 15px 18px
    }
    .recipeDetail .recipeItem .title,
    .recipeItem .title {
        font-size: 21px;
        width: 64%
    }
}

.recipeItem .productIcon {
    width: 30%;
    display: inline-block;
    vertical-align: top
}

.recipeItem .productIcon div {
    max-width: 100px;
    padding: 8px 0;
    float: right
}

.recipeItem .productIcon img {
    max-height: 50px;
    max-width: 100px
}

@media (min-width:768px) {
    .recipeItem .productIcon {
        width: 35%;
        display: inline-flex;
        vertical-align: top;
        float: right;
        margin-left: 50px;
    }
    .recipeItem .productIcon img {
      max-height: 90px;
      margin-bottom: -103px;
      margin-left: 10px;
    }
    .recipeItem .productIcon img[src*="1522728281"]{
      margin-top: 24px !important;
      margin-left: -14px
   }
    .recipeItem .productIcon img[src*="1516774081"]{
      max-height: 65px !important;
      margin-left: -1px ;
      margin-top: 24px ;
   }
    .recipeItem .productIcon img[src*="1516774156"]{
      max-height: 65px !important;
      margin-left: -1px !important;
      margin-top: 24px !important;
   }
   .recipeItem .productIcon img[src*="1507805564"]{
     max-height: 90px;
     margin-left: -18px !important;
     margin-top: -1px !important;
  }
  .recipeItem .productIcon img[src*="1507805467"]{
    max-height: 90px;
    margin-left: -18px !important;
    margin-top: 4px !important;
  }
 .recipeItem .productIcon img[src*="1507858435"]{
   max-height: 90px;
   margin-left: -18px;
   margin-top: 5px;
 }
 .recipeItem .productIcon img[src*="1507805657"]{
   max-height: 90px;
   margin-left: -18px !important;
   margin-top: 4px !important;
 }
}

#wrapper #page-content-wrapper {
    padding: 75px 0 0
}

@media(min-width:768px) {
    #wrapper #page-content-wrapper {
        padding: 0
    }
}

.hotRecipe {
    position: absolute;
    top: 0;
    left: 8px;
    max-width: 25%
}

.hotRecipe img {
    width: 100%
}

.menuContainer_m {
    padding-bottom: 16px
}

.menuContainer_m .multiselect-container>li>a>label {
    color: #0F847B;
    font-weight: 700;
    font-size: 16px
}

.menuContainer_m button.multiselect.dropdown-toggle.btn.btn-default {
    border-radius: 0;
    border-color: #0F847B;
    margin-top: 8px;
    width: 100%;
    color: #FFF;
    background-color: #0F847B;
    overflow: hidden;
    padding: 6px 0
}

.menuContainer_m span.multiselect-selected-text {
    padding: 10px 0;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    white-space: normal
}

.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.menuContainer_m .dropdown-menu>.active>a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    outline: 0
}

.menuContainer_m .btn-group {
    width: 100%
}

.menuContainer_m li.notInGroup>a>label {
    padding: 10px 5px 10px 40px
}

.menuContainer_m li.inGroup>a>label {
    padding: 10px 5px 10px 80px
}

.menuContainer_m .multiselect-container>li>a>label>input[type=checkbox] {
    margin-left: -20px
}

.caret-container {
    padding-right: 60%;
    padding-top: 5px;
    padding-bottom: 5px
}

.caret-container .caret {
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.caret-container.active .caret {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px dashed;
    border-left: 6px solid\9;
    border-right: none
}

.menuContainer_m .open>.dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #0F847B
}

.pagingContainer {
    text-align: center;
    margin: 10px;
    clear: both
}

.pageItemContainer {
    display: inline-block
}

.pagingContainer .pageItem.left,
.pagingContainer .pageItem.right {
    background-color: #0f847B;
    color: #FFF
}

.pagingContainer .pageItem {
    cursor: pointer;
    padding: 5px 8px;
    margin: 0 2px;
    display: inline-block;
    border: 1px solid #0f847B;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 700;
    color: #0f847B
}

.pagingContainer .pageItem.current,
.pagingContainer .pageItem:hover {
    background-color: #0f847B;
    color: #FFF
}

@media(min-width:768px) {
    .pagingContainer {
        text-align: right;
        margin: 15px 8px;
        clear: both
    }
    .pageItemContainer {
        display: inline-block
    }
    .pagingContainer .pageItem.left,
    .pagingContainer .pageItem.right {
        background-color: #0f847B;
        color: #FFF
    }
    .pagingContainer .pageItem {
        cursor: pointer;
        padding: 5px 11px;
        margin: 0 2px;
        display: inline-block;
        border: 1px solid #0f847B;
        background-color: #FFF;
        font-size: 16px;
        font-weight: 700;
        color: #0f847B
    }
    .pagingContainer .pageItem.current,
    .pagingContainer .pageItem:hover {
        background-color: #0f847B;
        color: #FFF
    }
}

.recipeDetail .title {
    font-size: 36px;
    color: #0F847B;
    font-weight: 700;
}

.recipeDetail .shareContainer {
    padding: 10px 0
}

@media(min-width:768px) {
    .recipeDetail .shareContainer {
        right: 34px;
        color: #888;
        top: 26px;
        padding: 15px 0;
        font-size: 18px
    }
    .recipeDetail .bigimage {
        min-height: 420px
    }
}

.recipeDetail .content {
    padding: 15px
}

@media(min-width:768px) {
    .recipeDetail .content {
        padding: 35px 60px;
        min-height: 420px
    }
}

.recipeDetail .shareContainer img {
    padding: 0 2px;
    vertical-align: middle
}

.recipeDetail .title2 {
    font-size: 24px;
    color: #0F847B;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 0
}

.recipeDetail .productThumb {
    display: block;
    text-align: center;
    clear: both;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px
}

.recipeDetail .productThumb img {
    margin-top: 15px
}


@media(min-width:768px) {
    .recipeDetail .productThumb {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 120px;
        top: auto
    }
}

@media(min-width:992px) {
    .recipeDetail .productThumb {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 150px;
        top: auto
    }
}

@media(min-width:1200px) {
    .recipeDetail .shareContainer {
        position: absolute
    }
    .recipeDetail .productThumb {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 180px;
        top: auto
    }
}

.recipeDetail .stepsContainer {
    padding: 15px
}

@media(min-width:768px) {
    .recipeDetail .stepsContainer {
        padding: 20px 50px
    }
}

.recipeDetail .steps .number {
    background-color: #0F847B;
    width: 24px;
    height: 24px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top
}

.recipeDetail .steps .stepContent {
    display: inline-block;
    font-size: 16px;
    width: calc(100% - 30px);
    padding: 5px
}

.recipeDetail hr {
    margin: 10px 0
}

@media(min-width:768px) {
    .recipe_share {
        padding-top: 50px;
        z-index: 1000;
        width: 50px;
        text-align: center;
        left: -50px
    }
}

.productIntro {
    background-image: url(../images/product_bg.jpg);
    min-height: 400px;
    padding: 15px
}

.productIntro .title {
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    text-align: left
}

@media(min-width:768px) {
    .productIntro {
        padding: 40px
    }
    .productIntro .title {
        font-size: 24px
    }
}

.productIntro .caption {
    color: #FFF;
    padding: 25px 0;
    font-size: 15px
}

.productList {
    background-image: url(../images/product_bg2.jpg);
    padding: 40px 0
}

.productInfo .image {
    padding: 15px;
    margin: 15px
}

@media(min-width:768px) {
    .productInfo .image {
        padding: 50px;
        margin: 0
    }
    .productInfo .description {
        padding-top: 20px;
        width: 100%
    }
}

.productInfo .description {
    padding-top: 20px;
    width: 100%
}

.productInfo .productDetail {
    padding: 20px 5px 15px;
    display: table
}

.productInfo .title {
    font-size: 22px
}

@media(min-width:458px) {
    .productInfo .title {
        font-size: 30px
    }
}

@media(min-width:768px) {
    .productDetail {
        padding: 40px;
        min-height: 400px
    }
    .productInfo .title {
        font-size: 30px
    }
    .productList {
        height: 325px
    }
    .productList .container {
        padding: 0
    }
    .productSetContainer.active {
        z-index: 200
    }
    .productSetContainer {
        max-width: 18%;
        margin-left: -55px
    }
}

@media(min-width:992px) {
    .productList {
        height: 350px
    }
    .productList .container {
        padding: 20px 0
    }
}

@media(min-width:1200px) {
    .productList {
        height: 400px
    }
    .productList .container {
        padding: 40px 0
    }
}

.productList .container>div {
    position: relative;
    height: 100%;
    padding-left: 50px
}

.productSetContainer {
    display: inline-block;
    cursor: pointer;
    position: relative
}

@media(min-width:992px) {
    .productSetContainer {
        max-width: 14%;
        margin-left: -35px
    }
}

@media(min-width:1200px) {
    .productSetContainer {
        max-width: 15%;
        margin-left: -22px
    }
}

.productSetContainer img {
    width: 100%;
    vertical-align: bottom
}

.productSetContainer img:hover {
    opacity: .8;
    z-index: 100
}

.productList .productName {
    opacity: 0;
    background-image: url(../images/product_name_bg.png);
    width: 200px;
    height: 45px;
    text-align: center;
    color: #FFF;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    margin-left: calc(50% - 100px);
    transition: visibility 0s, opacity .2s linear
}

.productList .productSetContainer:hover .productName {
    visibility: visible;
    opacity: 1
}

.productSlider .item img {
    padding: 15px
}

.productSlider .owl-stage {
    background-color: #FFF
}

.productSlider.fixed {
    position: fixed;
    top: 72px!important;
    padding: 0 15px;
    left: 0
}

.productSlider.locked {
    position: absolute
}

.productDescEnd {
    text-align: center;
    padding-top: 40px
}

@media(min-width:768px) {
    .productDescEnd {
        padding-top: 40px
    }
}

.productSlider .owl-carousel {
    position: relative
}

.productSlider .owl-next,
.productSlider .owl-prev {
    position: absolute;
    top: 40%
}

.productSlider .owl-prev {
    left: -2%
}

.productSlider .owl-next {
    right: -2%
}

.mainSlider_carousel .owl-next,
.mainSlider_carousel_mobile .owl-next {
    right: 2.5%
}

.productSlider .owl-controls {
    margin-top: -25px
}

.productSlider .sliderArrowBtns {
    width: 60%
}

@media(min-width:992px) {
    .product_share {
        padding-top: 50px;
        z-index: 1000;
        position: fixed;
        width: 50px;
        text-align: center;
        transform: translateX(-100%);
        top: 35%
    }
    .product_share.shown {
        opacity: 1
    }
    .product_share.hidden {
        opacity: 0
    }
}

.videoItem .thumb img {
    width: 100%;
    padding: 0
}

.videoItem .title {
    padding: 5px 0;
    color: #0F847B;
    font-size: 12px;
    font-weight: 700
}

.videoItem .caption {
    font-size: 12px;
    padding: 0;
    color: #777;
    height: 80px;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@media(min-width:300px) {
    .videoItem .title {
        height: 50px
    }
}

@media(min-width:400px) {
    .videoItem .title {
        height: auto
    }
}

@media(min-width:300px) {
    .videoItem .title {
        font-size: 13px
    }
    .videoItem .caption {
        height: 80px;
        font-size: 13px
    }
}

@media(min-width:400px) {
    .videoItem .title {
        font-size: 14px
    }
    .videoItem .caption {
        height: 70px;
        font-size: 14px
    }
}

@media(min-width:500px) {
    .videoItem .title {
        font-size: 18px
    }
    .videoItem .caption {
        height: 60px
    }
}

@media(min-width:768px) {
    .videoItem .caption {
        height: 40px
    }
}

.videoItem .videoOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.videoItem .videoOverlay>div {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute
}

.videoItem .videoOverlay .bg {
    background-color: #000;
    opacity: .5
}

.videoItem .videoOverlay .bg:hover {
    opacity: .4
}

.videoItem .videoOverlay>div>div {
    display: table-cell;
    vertical-align: middle
}

.lineContainer {
    padding: 0 15px
}

@media(min-width:768px) {
    .lineContainer {
        padding: 0
    }
    .recipeVideoItem:nth-child(2n) {
        margin-right: 0
    }
}

.lineContainer .line {
    width: calc(50% - 100px);
    float: left;
    height: 75px;
    display: table
}

.lineContainer .line>div {
    display: table-cell;
    vertical-align: middle
}

.lineContainer .line>div>div.border {
    border-top: 2px solid #0E847A;
    border-bottom: 1px solid #0E847A;
    border-left: none;
    border-right: none;
    padding: 3px 0;
    line-height: 75px
}

.lineContainer .titleImg {
    float: left;
    width: 200px
}

.listResult {
    padding-bottom: 25px;
    font-size: 16px
}

@media (min-width:768px) {
    .recipeVideoItemContainer .col-sm-6 {
        width: 48.5%!important
    }
}

@media (min-width:992px) {
    .recipeVideoItemContainer .col-md-6 {
        width: 48.5%!important
    }
}

@media (min-width:1200px) {
    .recipeVideoItemContainer .col-lg-4 {
        width: 32%!important
    }
}

.recipeVideoItemContainer {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines
}

.recipeVideoItem {
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block
}

.recipeVideoItem>div {
    position: relative
}

.recipeVideoItem>div>div {
    background-color: #fff
}

.recipeVideoItem .image img {
    width: 100%
}

.recipeVideoItem .title {
    color: #0E847A;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 15px
}

.recipeVideoItem .description {
    color: #808285;
    font-size: 15px;
    line-height: 26px;
    padding: 15px
}

.recipeVideoItem .button {
    border: 1px solid #d1d3d4;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 700;
    color: #0E847A;
    width: 120px;
    text-align: center;
    line-height: 28px;
    display: inline-block
}

.recipeVideoItem .button img {
    padding: 4px 3px;
    vertical-align: top
}

.recipeVideoItem .buttonHolder {
    width: 100%;
    bottom: 32px;
    padding: 15px 23px;
    left: 0
}

.recipeVideoItem .buttonHolder>div {
    display: inline-block;
    width: 49%
}

.recipeVideoBackToTopBtn {
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -100px;
    border-bottom: 12px solid #0e847a
}

.recipeVideoBackToTopBtn img {
    min-height: 50px
}

@media(min-width:1200px) {
    .recipeVideoItem:nth-child(2n) {
        margin-right: 15px
    }
    .recipeVideoItem:nth-child(3n) {
        margin-right: 0
    }
}

@media(min-width:768px) {
    .recipeVideoItemContainer {
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines
    }
    .recipeVideoItem {
        float: left;
        margin-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block
    }
    .recipeVideoItem>div {
        height: 600px;
        background-color: #0e847a;
        position: relative
    }
    .recipeVideoItem>div>div {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -5px;
        margin-left: -5px;
        padding: 24px 23px 30px
    }
    .recipeVideoItemContainer:after {
        content: '';
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
    }
    .recipeVideoItem .image img {
        width: 100%
    }
    .recipeVideoItem .title {
        color: #0E847A;
        font-size: 21px;
        line-height: 24px;
        font-weight: 700;
        padding: 22px 0
    }
    .recipeVideoItem .description {
        color: #808285;
        font-size: 16px;
        line-height: 26px;
        padding: 0
    }
    .recipeVideoItem .button {
        border: 1px solid #d1d3d4;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 19px;
        font-weight: 700;
        color: #0E847A;
        width: 150px;
        text-align: center;
        line-height: 28px
    }
    .recipeVideoItem .button img {
        padding: 4px 3px;
        vertical-align: top
    }
    .recipeVideoItem .buttonHolder {
        position: absolute;
        width: 100%;
        bottom: 32px;
        padding: 0 23px;
        left: 0
    }
}

.mainSlider_carousel .owl-prev,
.mainSlider_carousel_mobile .owl-prev {
    left: 2.5%
}

.cookbook_bottom {
    background-image: url(../images/cookbook_bottom_bg.jpg)
}

.cookbookContainer_m {
    padding-bottom: 25px
}

.cookbookContainer_m .image {
    max-width: 100%
}

.cookbookContainer_m.cookbook .cookbookItem .title {
    max-width: 100%;
    height: 100px;
}

.cookbookContainer_m.cookbook .titleContainer {}

.cookbookContainer_m.cookbookscs .title {}

.cookbookContainer_m.cookbookscs .titleContainer {
    text-align: center
}

@media(min-width:768px) {
    .cookbookItem:hover .cookbook-line-bg {
        background-repeat: repeat-x;
        background-image: url(../images/cookbook_border.png)
    }
    .cookbookItem .cookbook-line-bg {
        height: 45px;
        display: inline-block;
        background-repeat: repeat-x;
        background-position: 0 35px
    }
}

.mainpage {
    background-image: url(../images/index_p1_bg.jpg);
    border-bottom: 15px solid #0e847a
}

.mp_cookbook_part,
.mp_cookbook_partContainer {
    background-image: url(../images/pagebg.jpg)
}

.mp_cookbook_partContainer {
    background-size: cover;
    padding-top: 16px;
    border-radius: 8px
}

.mp_cookbook_part .cookbook_container .titleImg {
    width: 232px
}

@media(min-width:768px) {
    .mp_cookbook_part {
        border-radius: 8px;
        position: relative;
        padding: 10px
    }
    .mp_cookbook_part .cookbook_container {
        border: 1px dashed #0E847A
    }
    .mp_cookbook_part .cookbook_container .titleImg {
        margin-top: -37.5px;
        width: 100%;
        text-align: center
    }
}

.mp_cookbook_part .videoItem {
    padding: 8px
}

@media(min-width:768px) {
    .mp_cookbook_part .videoItem {
        padding: 2px 25px
    }
    .top-container {
        padding-top: 40px
    }
}

.day_recipe {
    background-color: #FFF
}

.day_recipe .title {
    color: #0E847A;
    font-weight: 700
}

.top-container {
    padding-left: 0;
    padding-right: 0
}

.mainSlider_carousel .owl-carousel {
    position: relative
}

.mainSlider_carousel .owl-next,
.mainSlider_carousel .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -10px
}

.mainSlider_carousel .owl-controls {
    margin-top: -45px
}

.mainSlider_carousel_mobile .owl-next,
.mainSlider_carousel_mobile .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -10px
}

.mainSlider_carousel_mobile .owl-controls {
    margin-top: -45px
}

.mainSlider_carousel_mobile .owl-dot {
    opacity: 0
}

.day_recipe.today .image {
    width: 70%
}

.weekdayContent {
    width: 30%;
    float: right
}

.weekdayContent .weekday_title {
    width: 80%;
    padding-top: 5px
}

@media(min-width:360px) {
    .weekdayContent .weekday_title {
        width: 80%;
        padding-top: 16px
    }
}

.weekdayContent .weekday_title img {
    max-width: 100%
}

.weekdayContent .title {
    font-size: 12px;
    padding-left: 4px;
    padding-top: 5px;
    padding-right: 4px
}

@media(min-width:360px) {
    .weekdayContent .title {
        font-size: 16px;
        padding-left: 15px;
        padding-top: 5px;
        padding-right: 15px
    }
}

.weekdayContent .product_thumb {
    width: 80px;
    padding: 8px;
    float: right
}

@media(min-width:768px) {
    .weekdayContent .title {
        font-size: 20px
    }
    .weekdayContent .product_thumb {
        width: 80px;
        padding: 0;
        float: right
    }
}

.day_recipe .product_thumb img {
    width: 100%
}

.recipeDownload>div {
    padding-bottom: 20px
}

@media(min-width:768px) {
    .recipeDownload {
        padding-bottom: 45px
    }
}

.moreRecipeVideoBtn {
    padding: 4px 12px;
    display: block;
    text-align: right
}

@media(min-width:768px) {
    .moreRecipeVideoBtn {
        text-align: right;
        color: #0E847A;
        font-weight: 700;
        font-size: 16px;
        padding: 8px 12.5px;
        right: 20px;
        display: block
    }
}

.sliderContainer {
    vertical-align: top;
    width: 100%
}

.owl-theme .owl-controls .owl-dot {
    display: inline-block
}

.owl-controls .owl-dot span {
    background: #CCC;
    border-radius: 20px;
    display: block;
    margin: 5px 7px;
    opacity: .99;
    height: 25px;
    width: 25px
}

.owl-controls .owl-dot.active span,
.owl-controls .owl-dot:hover span {
    background: #0E847A;
    border: 6px solid #f1dc00
}

@media(min-width:1200px) {
    .day_recipe,
    .day_recipe.today .image img {
        height: 300px
    }
    .day_recipe.col-lg-3 {
        width: 24%
    }
}

@media(min-width:768px) {
    .sliderContainer.col-sm-8 {
        width: 65%
    }
}

@media(min-width:970px) {
    .sliderContainer.col-md-8 {
        width: 65%
    }
}

@media(min-width:1200px) {
    .sliderContainer.col-md-8 {
        width: 74%
    }
}

.weekly_more .day_recipe {
    margin-top: 16px;
    display: none
}

.weekly_more .hideBtn,
.weekly_more .moreBtn {
    width: 100%;
    text-align: center;
    color: #0e847a;
    padding: 12px;
    margin: 15px 0;
    font-weight: 700;
    border: 1px solid #0e847a;
    clear: both
}

.weekly_more .hideBtn {
    display: none;
    margin-top: 10px
}

@media(min-width:768px) {
    .day_recipe,
    .weekdayContent {
        vertical-align: top
    }
    .moreRecipeVideoTitle {
        height: 60px;
        top: 0;
        width: 100%;
        display: block
    }
    .day_recipe {
        position: relative
    }
    .day_recipe.today .image {
        overflow: hidden
    }
    .day_recipe:not(.today) .image img {
        height: 200px;
        width: 100%
    }
    .weekday_title {
        padding-top: 12px;
        width: 100%
    }
    .day_recipe .title {
        font-size: 20px;
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 15px
    }
    .day_recipe .product_thumb {
        position: absolute;
        right: 10px;
        bottom: 5px;
        width: auto;
        float: none
    }
    .day_recipe .product_thumb img {
        width: 90px;
        height: 90px
    }
    .day_recipe.col-md-6 {
        width: 48.5%
    }
    .day_recipe.col-md-3 {
        width: 24%
    }
    .recipeDownload>div {
        padding-bottom: 0
    }
    .recipeDownload .col-md-6 {
        width: 48.5%
    }
    .mp_search {
        margin-top: 10px;
        padding: 4px 0;
        font-size: 15px
    }
}

.mp_search {
    border: 1px solid #FFF;
    text-align: center;
    color: #FFF;
    font-weight: 700
}

.mainpage #searchRecipeTxt {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.index-ingredient-item {
    width: 50%;
    float: left;
    display: block
}

@media(min-width:768px) {
    .quickSearchBox {
        width: calc(100% / 4.1);
        max-width: 260px
    }
    .index-ingredient-item {
        width: calc(100% / 8.25);
        vertical-align: top;
        max-width: 130px;
        display: inline-block;
        float: none
    }
    .index-ingredient-item img {
        width: 100%
    }
}

.mobile_ingredients_carousel .owl-stage-outer {
    z-index: 100
}

.mobile_ingredients_carousel .owl-controls {
    z-index: 0;
    margin-top: 0
}

.mobile_ingredients_carousel {
    width: 90%;
    margin: auto
}

.mobile_ingredients_carousel,
.mobile_ingredients_carousel .owl-carousel,
.mobile_ingredients_carousel .owl-controls,
.mobile_ingredients_carousel .owl-nav {
    position: relative
}

.mobile_ingredients_carousel .owl-next,
.mobile_ingredients_carousel .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -80px
}

.mobile_ingredients_carousel .owl-prev {
    left: -6.5%
}

.mobile_ingredients_carousel .owl-next {
    right: -6.5%
}

.mobile_ingredients_carousel .sliderArrowBtns {
    height: auto
}

.shadow {
    -webkit-box-shadow: 8px 8px 10px 0 #AAA;
    box-shadow: 8px 8px 10px 0 #AAA
}

.hoverzoom {
    overflow: hidden
}

.hoverzoom:hover img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15)
}

@media(min-width:768px) {
    .boxDistribute {
        text-align: justify
    }
    .boxDistribute>* {
        display: inline-block;
        float: none
    }
    .boxDistribute:after {
        content: '';
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
    }
    .sliderArrowBtns {
        opacity: 0
    }
    .sliderArrowBtns:hover {
        opacity: .8
    }
}

.detailEnd {
    text-align: center
}

.detailEnd img {
    width: 50%
}

@media(min-width:768px) {
    .detailEnd img {
        width: auto
    }
}

#shareToWhatsapp,
#shareToWhatsapp .image img {
    width: 100%
}

#shareToWhatsapp .input {
    padding-bottom: 20px
}

#shareToWhatsapp .input .whatsappBtn {
    cursor: pointer
}

#shareToWhatsapp .title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #888
}

.prod_title_small_tag {
    width: 60px;
    margin-top: -75px
}

@media(min-width:768px) {
    .prod_title_small_tag {
        width: 50px;
        margin-top: -75px
    }
}

@media(min-width:992px) {
    .prod_title_small_tag {
        width: 60px;
        margin-top: -85px
    }
}

#wrapper.toggled {
    position: fixed
}

.textBold{
	font-family: Meiryo,"Microsoft JhengHei",Arial,Helvetica,sans-serif !important;
}

.recipe-detail-2-product{
	position:relative;
	width:100%;
}



.recipe-detail-2-product>div{
	position:absolute;
	top: 0px;
}

.recipe-detail-2-product>div:first-child{
	left:-14px;
}
.recipe-detail-2-product>div:last-child{
	left:7.5px;
   }



@media(min-width:550px){
	.recipe-detail-2-product>div:first-child{
		left:15px;
	}
	.recipe-detail-2-product>div:last-child{
		left:40px;
	}
}

@media(min-width:768px){
	.recipe-detail-2-product>div:first-child{
		left:-30px;
	}
	.recipe-detail-2-product>div:last-child{
		left:1px;
	}
}


@media(min-width:992px){
	.recipe-detail-2-product>div:first-child{
		left:-32.5px;
	}
	.recipe-detail-2-product>div:last-child{
		left:-2px;
	}
}

@media(min-width:1200px){
	.recipe-detail-2-product>div:first-child{
		left:-25px;
      margin-left: 9px;
      margin-top: 3px;
	}
	.recipe-detail-2-product>div:last-child{
		left:19px;
	}

}


.recipe-detail-2-product div.small{
	top:-1px;
	left:-15px;
}
/*
.recipe-detail-2-product div.small img{
	max-height:40px;

}*/


@media(min-width:375px){

	.recipe-detail-2-product div.small{
		left:6px;
	}

  .recipeItem .productIcon img[src*="1516774156"]{
    max-height: 38px;
    margin-left: 5px;
    margin-top: 14px;
  }

  .recipeItem .productIcon img[src*="1516774081"]{
    max-height: 38px;
    margin-left: 5px;
    margin-top: 14px;
  }

  .recipeItem .productIcon img[src*="1522728281"]{
    margin-top: 11px;
  }

	.recipe-detail-2-product div.small img{
		max-height: 48px;
      margin-top: 3px;
      margin-left: -15px;
	}

   .recipe-detail-2-product>div:last-child img[src*="1515059542"] {
      margin-top: 8px;
      margin-left: 0px;
   }

   .recipe-detail-2-product>div:first-child img[src*="1522728281"]{
      margin-left: -6px;
      margin-top: 13px;
   }

   .recipe-detail-2-product>div.small img[src*="1513907964"]{
      margin-left: 5px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515059642"]{
      margin-top: 10px;
      margin-left: 8px;
   }

   .productIcon>div:last-child img[src*="1515059642"]{
      margin-top: 14px;
      margin-left: 16px;
   }

   .productIcon>div:first-child img[src*="1515641125"]{
      margin-left: -19px;
      margin-top: -7.5px;
   }

   .productIcon>div.product-scs img[src*="1515641125"]{
      margin-left: -15px;
      margin-top: 0.5px;
   }

   .productIcon>div:first-child img[src*="1507805719"]{
      margin-left: -13px;
      margin-top: 2.5px;
   }

   .productIcon>div:first-child img[src*="1507805467"]{
      margin-right: 0px;
      margin-top: 3px;
      margin-left: 9px;
   }

   .productIcon>div:first-child img[src*="1507805564"]{
      margin-right: 0px;
      margin-top: 3px;
      margin-left: 9px;
   }

   .productIcon>div:first-child img[src*="1507805657"]{
      margin-right: 0px;
      margin-top: 3px;
      margin-left: 9px;
   }

   .productIcon>div:last-child img[src*="1516778519"] {
      margin-top: 4px;
      margin-left: 11px;
   }
   .productIcon>div:last-child.special img[src*="1516778519"] {
      margin-top: 6px;
      margin-left: 12px;
   }
   .productListIcon .main.special img[src*="/_ul/1516774081.png"]{
     margin-left: 0px;
     margin-top: 15px;
   }
   .productListIcon .main.special img[src*="/_ul/1507858435"]{
     margin-top: 5px;
     margin-left: -7px;
   }

   .productIcon>div:last-child img[src*="1513907964"]{
     margin-left: -10px;
     margin-top: 0px
   }
   .productIcon .recipe-detail-2-product>div:last-child img[src*="1513907964"]{
     margin-left: -2px;
     margin-top: 3px
   }
   .productIcon .main img[src*="1522728281"]{
     margin-top: 7px;
     margin-left: -6px;
   }

   .productIcon>div:last-child.product-scs270-special img[src*="1516778519"]{
     margin-left: 15px;
     margin-top: 10px
   }

   .productIcon>div:first-child.product-scs270-special img[src*="1507858435"]{
     margin-left: -4px;
     margin-top: 6px
   }

   .productIcon>div:first-child img[src*="1516864215"] {
      margin-left: -10px ;
      margin-top: 3px
   }

   .recipe-detail-2-product>div.small img[src*="1516864215"] {
      margin-left: -10px !important;
   }

   .recipe-detail-2-product>div.main img[src*="1516864215"] {

   }

   .recipe-detail-2-product>div:first-child img[src*="1516864215"] {
      margin-left: 8px;
      margin-top: 4px
   }

   .recipe-detail-2-product>div:last-child img[src*="1516778519"] {
      margin-left: 9px;
      margin-top: 3px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515050309"] {
		margin-top:2px;
   }

   .recipe-detail-2-product>div:first-child img[src*="1515641125"] {
      margin-left: -4px;
      margin-top: 2px;
	}

   .recipe-detail-2-product>div:last-child img[src*="1515059642"] {
      margin-top: 11px;
      margin-left: 13px;
   }

   .recipe-detail-2-product>div.small img[src*="1515641125"] {
      margin-left: -22px;
      margin-top: 6px;
	}

   .recipe-detail-2-product>div.small img[src*="1516774081"] {
      margin-left: -1px;
      margin-top: 16px
	}

   .recipe-detail-2-product>div:first-child img[src*="1507805719"] {
      margin-left: -3px;
      margin-top: 4px;
	}

   .recipe-detail-2-product>div.small img[src*="1507805719"] {
      margin-left: -21px;
      margin-top: 7px;
	}

   .recipeDetail .productThumb.product2>a.small{
      margin-left:32px;
      margin-top:14px;
   }

   .recipeDetail .productThumb.product2>a:first-child[href^="/product-list.php?p=SCS_270"]{
      margin-left:35px ;
      margin-top:-6px;
   }

   div[style^="background-image:url(/_ul/1515059642.png)"]{
      background-position: -10px 13px !important;
      margin-bottom: 2px;
   }
   .productThumb .productThumbBgAsImg.product1_image {
       width: 100%;
   }

   .detailProduct img[src*="/_ul/1507858435.png"]{
     width: 150%;
     clip: rect(6px,87px,111px,29px);
     top: 8px;
     left: 36px;
   }
   .detailProduct img[src*="/_ul/1516778519.png"]{
     width: 150%;
     clip: rect(2px,86px,120px,33px);

   }




   /* 清雞湯 */
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1522728281.png)"]{
     clip: rect(15px,66px,86px,21px);
     position: absolute;
     top: -46px;
     right: -89px
   }
   /* 調味雞汁 last-child */
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516778519.png)"]{
     clip: rect(1px,66px,100px,22px);
     clip-path: polygon(41% 2%, 58% 2%, 62% 35%, 70% 54%, 72% 90%, 66% 100%, 33% 100%, 27% 89%, 30% 54%, 38% 34%);
     position: absolute;
     right: -3px;
     top: -46px;
   }
   /* 調味雞汁 first-child */
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515641125.png)"]{
     clip: rect(3px,66px,100px,23px);
     clip-path: polygon(41% 2%, 58% 2%, 62% 35%, 70% 54%, 72% 90%, 66% 100%, 33% 100%, 27% 89%, 30% 54%, 38% 34%);
     position: absolute;
     right: -51px;
     top: -42px;
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1513907964.png)"]{
     clip: rect(15px,82px,100px,10px);
     position: absolute;
     right: 18px;
     top: -46px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516864215.png)"]{
     clip: rect(2px,74px,98px,15px);
     position: absolute;
     right: -80px;
     top: -45px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515059642.png)"]{
     clip: rect(28px,61px,99px,16px);
     position: absolute;
     right: -5px;
     top: -45px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516774081.png)"]{
     background-size: 80%;
     clip: rect(16px,65px,85px,22px);
     position: absolute;
     right: -87px;
     top: -36px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507858435.png)"]{
     clip: rect(2px,72px,96px,13px);
     position: absolute;
     right: -88px;
     top: -40px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507805719.png)"]{
     clip: rect(2px,63px,96px,25px);
     clip-path: polygon(43% 1%, 57% 2%, 61% 32%, 69% 56%, 70% 89%, 65% 97%, 35% 97%, 30% 89%, 32% 56%, 39% 34%);
     position: absolute;
     right: -70px;
     top: -44px
   }

   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -2px;
     top: -53px;
   }
   div.productThumbBgAsImg.product2_image.special1[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -3px;
     top: -52px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774156.png)"], .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1531466058.png)"] ,.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774081.png)"] {
     clip: rect(2px,62px,78px,14px);
     position: absolute;
     top: 5px;
     right: -15px;
  }
  .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1522728281.png)"] {
    background-size: 100px 100px;
    clip: rect(2px,71px,85px,26px);
    position: absolute;
    top: 12px;
    right: 0px;
  }
  .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516864215.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805564.png)"] {
    background-size: 125px 125px;
    height: 125px;
    background-repeat: no-repeat;
    clip: rect(2px,99px,123px,25px);
    position: absolute;
    top: -10px;
    right: 20px;
  }
  .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805467.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507858435.png)"] {
    height: 125px;
    clip: rect(7px,91px,116px,30px);
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
    right: 0px;
  }
  .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805657.png)"] {
    clip: rect(6px,91px,117px,30px);
    position: absolute;
    top: -10px;
    right: 10px;
    height: 125px;
  }


   .productThumb div.productThumbBgAsImg.product1_image{
     margin-top: 10px;
   }
   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516864215.png)"]{
     right: -80px;
     top: -45px;
   }
   div.product2_image.special1[style^="background-image:url(/_ul/1516864215.png)"]{
     right: -80px;
     top: -51px;
   }

}

@media(min-width:550px){

	.recipe-detail-2-product div.small{
		left:25px;
    top:0px;
	}

	.recipe-detail-2-product div.small img{
		max-height: 45px;
      margin-top: 1px;
      margin-left: 1px;
	}

}

.productIcon .main img {
    z-index: 1;
    position: relative;
  }

@media(min-width:768px){

	.recipe-detail-2-product div.small{
		left:-25px;
      top:0px;
	}

	.recipe-detail-2-product div.small img{
		max-height:90px;
	}

   .recipe-detail-2-product>div:first-child img[src*="1516864215"]{
      margin-left: -24px !important;
      margin-top: 1px !important;

   }

   .productIcon>div:first-child img[src*="1515641125"]{
      margin-left: -20px;
      margin-top: -1px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515059642"] {
      margin-top: 24px !important;
      margin-left: -8px !important
   }

   .productIcon>div:last-child img[src*="1515059642"]{
      margin-top: 22px;
      margin-left: 13px;
   }

   .productIcon>div:last-child img[src*="1516778519"]{
      margin-top: -2px;
      margin-left: -6px;
   }
   .productIcon>div:last-child.special img[src*="1516778519"]{
      margin-top: -2px;
      margin-left: 6px;
   }

   .productIcon>div:first-child img[src*="1507858435"]{
      margin-right: 0px;
   }

   .productIcon>div:first-child img[src*="1507805719"]{
      margin-left: -18px;
      margin-top: 2px;
   }
   .productListIcon .main.special img[src*="/_ul/1516774081.png"]{
     margin-left: 2px;
     margin-top: 26px;
   }
   .productListIcon .main.special img[src*="/_ul/1507858435"]{
     margin-top: 7.5px;
     margin-left: -13px;
   }

   .productIcon>div:last-child.product-scs270-special img[src*="1516778519"]{
     margin-left: 18px;
     margin-top: -22px;
   }

   .productIcon>div:first-child.product-scs270-special img[src*="1507858435"]{
     margin-left: -1px !important;
     margin-top: 6px !important
   }

   .caption .productIcon .main>img[src*="1522728281"]{
     margin-top: 11px;
     margin-left: -22px;

   }

   .productIcon>div:last-child img[src*="1515050309"]{
      margin-top: 8px;
   }

   .recipe-detail-2-product>div.main img[src*="1515641125"]{
      margin-left: -29px;
      margin-top: 5px;
      max-height: 84px
   }
   .recipe-detail-2-product>div.main.small img[src*="1515641125"]{
      margin-left: -38px;
      margin-top: 5px;
      max-height: 84px
   }

   .recipe-detail-2-product>div:first-child img[src*="1507805719"]{
      margin-left: -29px;
      margin-top: 6px;
      max-height: 84px
   }
   .recipe-detail-2-product>div:first-child.small img[src*="1507805719"]{
     margin-left: -37px;
     margin-top: 11px;
   }
   .recipe-detail-2-product>div:last-child img[src*="1507805719"]{
      margin-left: -15px;
      margin-top: 6px;
   }

   .recipe-detail-2-product>div:first-child img[src*="1507858435"] {
      margin-top: 11px !important;
      margin-left: -18px !important;
   }

   .recipe-detail-2-product>div:last-child img[src*="1516778519"] {
     margin-top: 0px !important;
     margin-left: -16px !important;
   }

   .recipe-detail-2-product>div.small img[src*="1516864215"]{
      margin-top: 7px !important;
   }

   div[style^="background-image:url(/_ul/1515059642.png)"]{
      background-position: -10px 40px !important;
      margin-bottom: 2px;
   }

}

@media(min-width:1200px){

	.recipe-detail-2-product div.small{
/*		left:-10px;*/
	}
}



.recipeDetail .productThumb img{
	width:100%;
}
.recipeDetail .productThumb.product2 {
	width:140px;
	top:120px;
}

.recipeDetail .productThumb.product2>a{
	float:left;
}

.recipeDetail .productThumb.product2>a:first-child{
	margin-left:20px;
	display: block;
  position: absolute;
	z-index:5;
}
.recipeDetail .productThumb.product2>a:last-child{
	margin-right:-11px;
	display: block;
    position: absolute;
	z-index:0;
	right:0px;
}

.recipeDetail .productThumb.product2 .productThumbBgAsImg{
	width:90px;
	height:100px;
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100px 100px;
	 transform: scale(1);
}

.recipeDetail .productThumb.product2.small{
	transform: scale(0.9);
    bottom: -9px;
}
@media(min-width:768px){
  .caption .productIcon>div{
  	position: absolute;
  	top: -18px;
     left: -3px;
  }
	.recipeDetail .productThumb.product2 {
		width:140px;
		bottom:0px;
		top:auto;
	}
	.recipeDetail .productThumb.product2>a.small{
		transform: scale(0.9);
      bottom: -4.5px !important;
	}

   .recipeDetail .productThumb.product2 .productThumbBgAsImg{
      width:90px;
      height:150px;
   }

	.recipeDetail .productThumb.product2>a:first-child{
		margin-left:20px;
		bottom: 0px;

	}
	.recipeDetail .productThumb.product2>a:last-child{
		margin-left:-35px;
		bottom: 0px;

	}

   .recipe-detail-2-product>div:first-child img[src*="1522728281"]{
      margin-left: -19px !important;
      margin-top: 34px !important;
   }

   .recipe-detail-2-product>div.small img[src*="1513907964"]{
      margin-left: 50px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515059542"] {
      margin-top: 8px;
      margin-left: 47px;
   }

   .productIcon>div:first-child img[src*="1516864215"] {
      margin-left: -18px;
      margin-top: -1px
   }

   .productIcon.productListIcon>div:last-child img[src*="1513907964"] {
      margin-left: -22px;
      margin-top: -35px
   }

   .recipe-detail-2-product>div:last-child img[src*="1513907964"] {
      margin-left: -25px !important;
      margin-top: 1px !important
   }

   .recipe-detail-2-product>div:last-child img[src*="1515641125"] {
      margin-left: -14px;
      margin-top: -1px;
   }

   .recipe-detail-2-product>div:first-child img[src*="1516774081"]{
      margin-left: -9px !important;
      margin-top: 33px !important;

   }

   .recipe-detail-2-product>div:last-child img[src*="1515050309"] {
      margin-top:5px;
      margin-left: -9px;
   }

   .recipeDetail .productThumb.product2>a.small{
      margin-left:33px;
      margin-bottom:-11px;
   }

   .recipeDetail .productThumb.product2>a:first-child[href^="/product-list.php?p=SCS_270"]{
      margin-left:40px;
      margin-bottom:6px;
   }

   .productIcon .main2 {
     margin-left: 0px;
   }
   .productListIcon .main.special img[src*="/_ul/1507858435"]{
     margin-top: 7.5px;
     margin-left: -13px;
   }

   .detailProduct img[src*="/_ul/1507858435.png"]{
     width: 150%;
     clip: rect(6px,87px,111px,29px);
     top: 8px;
     left: 36px;
   }
   .detailProduct img[src*="/_ul/1516778519.png"]{
     width: 150%;
     clip: rect(2px,86px,120px,33px);

   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1522728281.png)"]{
     clip: rect(39px,65px,111px,20px);
     position: absolute;
     top: -158px;
     right: -90px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516778519.png)"]{
     clip: rect(27px,67px,125px,21px);
     position: absolute;
     top: -150px;
     right:-9px;
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515641125.png)"]{
     clip: rect(3px,66px,125px,21px);
     position: absolute;
     right: -55px;
     top: -145px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1513907964.png)"]{
     clip: rect(42px,83px,126px,10px);
     position: absolute;
     right: 14px;
     top: -149px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516864215.png)"]{
     clip: rect(27px,74px,124px,14px);
     position: absolute;
     right: -85px;
     top: -149px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515059642.png)"]{
     clip: rect(54px,61px,125px,16px);
     position: absolute;
     right: -9px;
     top: -150px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516774081.png)"]{
     background-size: 80%;
     clip: rect(41px,65px,108px,22px);
     position: absolute;
     right: -94px;
     top: -135px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507858435.png)"]{
     clip: rect(31px,67px,119px,18px);
     position: absolute;
     right: -94px;
     top: -145px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507805719.png)"]{
     clip: rect(27px,64px,122px,26px);
     position: absolute;
     right: -75px;
     top: -146px
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774156.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1531466058.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774081.png)"] {
     clip: rect(2px,63px,78px,14px);
     position: absolute;
     top: -120px;
     right: -19px;
  }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1522728281.png)"] {
     background-size: cover;
     clip: rect(17px,85px,101px,31px);
     position: absolute;
     top: -150px;
     right: 0px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516864215.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805564.png)"] {
     clip: rect(2px,96px,118px,24px);
     position: absolute;
     background-size: cover;
     height: auto;
     top: -120px;
     right: 10px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805467.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507858435.png)"] {
     clip: rect(6px,88px,112px,29px);
     position: absolute;
     height: auto;
     background-size: cover;
     top: -108px;
     right: 10px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805657.png)"] {
     clip: rect(6px,88px,112px,29px);
     position: absolute;
     top: -108px;
     right: 10px;
   }


   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -7px;
     top: -150px;
   }
   div.productThumbBgAsImg.product2_image.special1[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -7px;
     top: -150px;
   }
   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516864215.png)"]{
     right: -87px;
     top: -149.5px;
   }

}


.productThumbBgAsImg{
	padding-bottom: 100%;
    background-size: cover;
}

@media(min-width:992px){

  .productListIcon.productIcon>div:first-child img[src*="1515641125"]{
     margin-left: -40px;
     margin-top: -1px;
  }
  .productIcon.productListIcon>div:last-child img[src*="1513907964"] {
     margin-left: -44px;
     margin-top: -35px
  }
  .productIcon>div:first-child img[src*="1507805719"]{
    margin-left: -39px;
    margin-top: 2px;
  }
  .recipe-detail-2-product>div:first-child img[src*="1507805719"]{
    margin-left: -29px;
    margin-top: 7px;
  }
  .productIcon>div:last-child.special img[src*="1516778519"] {
    margin-top: -2px;
    margin-left: -11px;
  }
  .productIcon>div:last-child.product-scs270-special img[src*="1516778519"] {
    margin-left: -5px;
    margin-top: -22px;
  }
  .productIcon>div:first-child.product-scs270-special img[src*="1507858435"] {
    margin-left: -24px !important;
    margin-top: 6px !important;
  }
  .productListIcon .main.special img[src*="/_ul/1516774081.png"]{
    margin-left: -14px;
    margin-top: 26px;
  }
  .productListIcon .main.special img[src*="/_ul/1507858435"]{
    margin-top: 7.5px;
    margin-left: -30px;
  }
	.recipeDetail .productThumb.product2 {
		width:200px;
		bottom:0px;
		top:auto;
	}

	.recipeDetail .productThumb.product2 .productThumbBgAsImg{
		width:125px;
		height:150px;
		background-size: 150px 150px;

	}
  .productIcon>div+div:last-child img[src*="1515059642"]{
     margin-top: 22px;
     margin-left: -5px;
  }
  .productIcon>div:first-child img[src*="1516864215"]{
    margin-left: -36px;
    margin-top: -1px;
  }

   /*.productThumbBgAsImg.product1_image{
      margin-bottom: -21px;
      }
      */

   .productThumbBgAsImg.product1_image [src*="1522728281.png"]{
         margin-bottom: -21px;
   }

	.recipeDetail .productThumb.product2>a:first-child{
		margin-left:25px;
	}
	.recipeDetail .productThumb.product2>a:last-child{
		margin-left:-30px;
	}

   .recipeDetail .productThumb.product2>a.small{
      margin-left:43px;
      margin-bottom:-20px;
   }

   .recipeDetail .productThumb.product2>a:first-child[href^="/product-list.php?p=SCS_270"]{
      margin-left:45px;
      margin-bottom:9px;
   }
   .caption .productIcon .recipe-detail-2-product:first-child img[src*="1522728281"]{
     margin-left: -20px !important;
     margin-top: 34px;
   }
   .recipe-detail-2-product>div:first-child img[src*="1516774081"]{
     margin-left: -11px !important;
     margin-top: 33px !important;
   }

   div[style^="background-image:url(/_ul/1515059642.png)"]{
      background-position: -13px 22px !important;
      margin-bottom: 2px;
    }

    .productIcon>div:last-child img[src*="1513907964"]{
      margin-left: -22px;
      margin-top: 0px
    }

    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1522728281.png)"]{
      clip: rect(20px,95px,172px,24px);
      position: absolute;
      top: -156px;
      right: -116px
    }

    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516778519.png)"]{
      clip: rect(3px,95px,172px,24px);
      position: absolute;
      top: -150px;
      right: 1px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515641125.png)"]{
      clip: rect(3px,95px,150px,29px);
      position: absolute;
      right: -65px;
      top: -145px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1513907964.png)"]{
      clip: rect(22px,117px,150px,10px);
      position: absolute;
      right: 33px;
      top: -149px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516864215.png)"]{
      clip: rect(3px,107px,149px,18px);
      position: absolute;
      right: -110px;
      top: -149px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515059642.png)"]{
      clip: rect(43px,93px,149px,26px);
      position: absolute;
      right: 0px;
      top: -150px
    }

    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516774081.png)"]{
      background-size: 80%;
      clip: rect(27px,90px,122px,31px);
      position: absolute;
      right: -125px;
      top: -124px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507858435.png)"]{
      clip: rect(8px,96px,140px,23px);
      position: absolute;
      right: -120px;
      top: -142px
    }
    div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507805719.png)"]{
      clip: rect(2px,91px,145px,33px);
      position: absolute;
      right: -90px;
      top: -146px
    }
    .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774156.png)"], .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1531466058.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774081.png)"]{
      background-size: 110px 110px !important;
      clip: rect(2px,86px,106px,20px);
      position: absolute;
      top: -150px;
      right: -20px;
    }
    .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1522728281.png)"] {
      clip: rect(20px,107px,127px,39px);
      position: absolute;
      top: -150px;
      right: 0px;
    }
    .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516864215.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805564.png)"] {
      clip: rect(2px,119px,148px,30px);
      position: absolute;
      top: -175px;
      right: 10px;
    }
    .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805467.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507858435.png)"] {
      clip: rect(8px,109px,140px,36px);
      position: absolute;
      top: -108px;
      right: 10px;
    }
    .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805657.png)"] {
      clip: rect(8px,109px,140px,36px);
      position: absolute;
      top: -108px;
      right: 10px;
    }


    div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516778519.png)"]{
      right: 2px;
      top: -150px;
    }
    div.productThumbBgAsImg.product2_image.special1[style^="background-image:url(/_ul/1516778519.png)"]{
      right: 2px;
      top: -151px;
    }
    div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516864215.png)"]{
      right: -110px;
      top: -149.5px;
    }

}

@media(min-width:1200px){
	.recipeDetail .productThumb.product2 {
		width:240px;
		bottom:0px;
		top:auto;
    right: 20px;
	}
	.productSetContainer.big-productSet-right{
		margin-left: -10px;
	}
	.productSetContainer.big-productSet{
		margin-left: -17px;
	}
	.productSetContainer.medium-productSet{
		margin-left: -15px;
	}

	.recipeDetail .productThumb.product2 .productThumbBgAsImg{
		width:155px;
		height:180px;
	/*	background-size: 180px 180px;*/
	}
	.recipeDetail .productThumb.product2>a:first-child{
		margin-left:40px;
	}
	.recipeDetail .productThumb.product2>a:last-child{
		margin-left:-45px;
	}
   .recipeDetail .productThumb.product2>a.small{
      margin-left:50px;
      margin-bottom:-20px;
   }

   .productThumbBgAsImg.product1_image {
      margin-left: 5px;
   }

   .recipeDetail .productThumb.product2>a:first-child[href^="/product-list.php?p=SCS_270"]{
      margin-left:55px;
      margin-bottom:8px;
   }

/*fix deviation*/
  .productListIcon.productIcon>div:first-child img[src*="1515641125"]{
    margin-left: -20px;
    margin-top: -1px;
  }
  .productIcon.productListIcon>div:last-child img[src*="1513907964"] {
    margin-left: -22px;
    margin-top: -35px
  }
  .productListIcon.productIcon>div:first-child img[src*="1507805719"] {
    margin-left: -18px;
    margin-top: 2px;
  }
  .productIcon>div+div:last-child img[src*="1515059642"]{
    margin-top: 22px;
    margin-left: 10px;
  }
  .productIcon>div:first-child img[src*="1516864215"]{
    margin-left: -22px;
    margin-top: -1px;
  }
  .productIcon>div:last-child.product-scs270-special img[src*="1516778519"] {
    margin-left: 65px;
    margin-top: -22px;
  }
  .productIcon>div:first-child.product-scs270-special img[src*="1507858435"] {
    margin-left: -24px !important;
    margin-top: 6px !important;
  }
  .productListIcon .main.special img[src*="/_ul/1516774081.png"]{
    margin-left: -2px;
    margin-top: 24px;
  }
   .recipe-detail-2-product>div:first-child img[src*="1516864215"]{
      margin-left: -20px !important;
      margin-top: -8px !important;
      max-height: 90px;
   }

   .recipe-detail-2-product>div:first-child img[src*="1522728281"]{
      margin-left: -7px !important;
      margin-top: 23px !important;
   }

   .productThumbBgAsImg.product1_image{
      margin-left: 5px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515641125"] {
      margin-left: -18px;
      margin-top: -1px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1522728281"] {
      margin-left: 15px;
      margin-top: 0px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1516778519"] {
      margin-left: -15px !important;
      margin-top: -4px !important;
   }

   .recipe-detail-2-product>div:first-child img[src*="1507858435"] {
      margin-left: -14px !important;
      margin-top: 0px !important;
   }

   .recipe-detail-2-product>div:first-child img[src*="1515641125"]{
      margin-left: -30px;
      margin-top: -6px !important;
      max-height: 90px;
   }

   .recipe-detail-2-product>div.main img[src*="1516774081"]{
      margin-left: 2px !important;
      margin-top: 22px !important;
   }

   .recipe-detail-2-product>div:first-child img[src*="1507805719"]{
      margin-left: -30px !important;
      margin-top: -3px !important;
      max-height: 90px;
   }

   .recipe-detail-2-product>div:last-child img[src*="1515059642"] {
      margin-top: 22px !important;
      margin-left: 0px
   }

   .recipe-detail-2-product>div:last-child img[src*="1515050309"] {
      margin-top:7px;
      margin-left: -12px;
   }
   .recipe-detail-2-product>div.main.small img[src*="1515641125"]{
     margin-left: -25px;
     margin-top: 1px !important;
   }
   .caption .productIcon .recipe-detail-2-product:first-child img[src*="1522728281"]{
     margin-left: -8px !important;
   }

   div[style^="background-image:url(/_ul/1515059642.png)"]{
      background-position: 9px 37px !important;
      margin-bottom: 2px;
   }
   .productIcon>div:last-child.special img[src*="1516778519"] {
    margin-top: -3px;
    margin-left: 2px;
  }

  .productListIcon .main.special img[src*="/_ul/1507858435"]{
    margin-top: 7px;
    margin-left: -17px;
  }
   .productIcon>div + div.product-scs270-special{
   	margin-left: -70px;

   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1522728281.png)"]{
     clip: rect(36px,108px,143px,42px);
     position: absolute;
     top: -187px;
     right: -155px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516778519.png)"]{
     clip: rect(18px,111px,166px,44px);
     position: absolute;
     top: -180px;
     right: -4px;
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515641125.png)"]{
     clip: rect(3px,109px,166px,45px);
     position: absolute;
     right: -129px;
     top: -175px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1513907964.png)"]{
     clip: rect(40px,134px,165px,25px);
     position: absolute;
     right: 0px;
     top: -179px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516864215.png)"]{
     clip: rect(17px,122px,164px,33px);
     position: absolute;
     right: -141px;
     top: -179px
   }
   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1515059642.png)"]{
     clip: rect(59px,115px,165px,48px);
     position: absolute;
     right: 0px;
     top: -181px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516774081.png)"]{
     background-size: 70% !important;
     clip: rect(38px,107px,141px,43px);
     position: absolute;
     right: -154px;
     top: -158px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507858435.png)"]{
     clip: rect(25px,112px,156px,39px);
     position: absolute;
     right: -149px;
     top: -171px
   }

   div.productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1507805719.png)"]{
     clip: rect(18px,106px,160px,48px);

     position: absolute;
     right: -149px;
     top: -176px
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774156.png)"], .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1531466058.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774081.png)"]{
     background-size: 130px 130px !important;
     clip: rect(3px,101px,126px,24px);
     position: absolute;
     top: -150px;
     right: 0px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1522728281.png)"] {
     clip: rect(25px,127px,153px,47px);
     position: absolute;
     top: -175px;
     right: 10px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516864215.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805564.png)"] {
     clip: rect(2px,143px,177px,29px);
     position: absolute;
     top: -175px;
     right: 10px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805467.png)"],.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507858435.png)"] {
     clip: rect(9px,131px,168px,44px);
     position: absolute;
     top: -180px;
     right: 10px;
   }
   .productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1507805657.png)"] {
     clip: rect(9px,131px,168px,44px);
     position: absolute;
     top: -180px;
     right: 10px;
   }

   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -4px;
     top: -181px;
   }
   div.productThumbBgAsImg.product2_image.special1[style^="background-image:url(/_ul/1516778519.png)"]{
     right: -4px;
     top: -182px;
   }
   div.productThumbBgAsImg.product2_image.special[style^="background-image:url(/_ul/1516864215.png)"]{
     right: -141px;
     top: -179px;
   }

}

.productIcon{
	position: relative;
}
.productIcon>div{
	position: absolute;
	top: -3px;
   left: -3px;
}
.productIcon>div.main{
	right: 25px;
	z-index: 1;
}
.productIcon>div+div{
	right: 0;
}
.productIcon>div + div{
	top: -7px;
}
.productIcon>div.main.product-scs{
	right: 21px;
}
.productIcon>div + div.product-scs{
	right: -10px;
	top: 0px;
   margin-left: 19px;
}

.productIcon>div + div.product-scs270-special{
	right: -10px;
	top: -10px;
}

@media(min-width:768px){
	.recipeDetail .title{
		max-width:320px;
	}
	.productIcon>div.main{
		right: 25px;
      margin-left: -15px;
	}
	.productIcon>div + div{
		right: -20px;
		top: -7px;
	}
	.productIcon>div.main.product-scs{
		right: 30px;
      margin-left: -25px;
	}
  .productThumb .productThumbBgAsImg.product1_image {
      width: 100%;
  }
}


.detailProduct img{
  width: 100%;
  position: absolute;
}
.detailProduct a:hover{
  opacity: 0.8;
  z-index: 5
}
.detailProduct a:first-child img{
  z-index: 5;

}
.detailProduct{
  float: right;
}
.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774156.png)"] {
    width: 100%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.productThumb .productThumbBgAsImg.product1_image[style^="background-image:url(/_ul/1516774081.png)"] {
    width: 100%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.productThumb .productThumbBgAsImg.product2_image[style^="background-image:url(/_ul/1516774081.png)"] {

    background-size: 80%;
    background-repeat: no-repeat;
}
.recipe-detail-2-product>div.main{
	z-index:5;
}
.recipeVideoItemContainer{
	text-justify:auto !important;
}
.productThumbBgAsImg.product1_image:hover{
  opacity: 0.8 !important;
}


/* .productThumbBgAsImg:hover {
  opacity: 0.8;
} */
