@charset "utf-8";
/* CSS Document */
*{
	transition: all 0.5s ease;
}
body{
	margin: 0;
	padding: 0;
	font-family: Microsoft JhengHei, "微軟正黑體","Apple LiGothic Medium","蘋果儷中黑","Lucida Grande","Lucida Sans Unicode",Helvetica !important;
	color:#565b54;
}
@media (min-width:768px){
	body{
	}

}

a{
	color:#0e847a;
}

a:hover{
	text-decoration:none;
	opacity:0.8;
	color:initial;
}

.ani{
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


p{
	margin: 0 0 0px 0;
}

a{
	text-decoration:none;
}


img{
	border: 0;
}

.clear{
	clear:both;
}

.pad0{
	padding:0!important;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

.container,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0px;
}



/* start include_header	*/
	.navbar {
		background:none;
		width:100%;
		position:fixed;
		z-index:10;
	    top: 0px;
	    border-bottom: 6px solid #f1dc00;
	    opacity: 0.9;
	    margin:0px;
	}
	@media (min-width:768px){
		 .navbar {
	 		background-color:#0e847a;
	 		position:fixed;
		    border-bottom: 8px solid #f1dc00;
		    opacity:1;
		    position:relative;
		 }
	}
	.navbar-default .navbar-toggle{
		float:left;
		background:none;
		border:none;
	    position: absolute;
	    margin:0px;
	    padding:9px 40px 9px 12px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background:none;
	}

	.navbar-header{
		/*background-color:#FFF;*/
		background-color:#0e847a;
	}

	@media (min-width:768px){
		 .navbar-header{
	 		padding: 0px;
		 }
	}

	.navbar-brand{
		float:none;
		padding:0px;
	}
	.navbar-brand>div{
		text-align:center;
	}
	@media(min-width:768px){
		.navbar-brand>div{
			text-align:left;
		}
	}
	@media(min-width:768px){
		.navbar-brand>div{
			text-align:left;
		}
	}

	@media(min-width:768px){
		.navbar-brand div{
			padding:0px 50px;
		}
	}
	@media(min-width:992px){
		.navbar-brand div{
			padding:0px 30px;
		}
	}
	@media(min-width:1200px){
		.navbar-brand div{
			padding:0px;
		}
	}



	.navbar-brand img{
		margin: 10px 0px;
		height:50px;
		display:inline-block;
	}
	@media (min-width:768px){
		.navbar-brand img{
			margin: 10px 10px;
			height:auto;
			display:inline-block;
		}
	}

	.navbar-nav{
		margin:0px;
	}
	.navbar-default .navbar-nav>li>a{
		color:#f36f24;
		font-weight:bold;
		font-size:16px;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color:#002D28;
	}
	.nav>li{
		text-align:center;
		opacity: 0.95;
	}

	.navbar-default .navbar-nav>li>a{
		background-color:#0e847a !important;
	    color:#FFF !important;
	}

	.navbar-default .navbar-nav>li>a:hover{
		background-color:#23baad !important;
	    color:#fff !important;
	    opacity:0.9 !important;
	}

	.navbar-default .collapsed.navbar-toggle:focus, .navbar-default .collapsed.navbar-toggle:hover{
		background-color:inherit;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0;
	    background-color:#FFF;
	 }
	 .dropdown:hover .dropdown-menu a{
	    text-align:center;
	    color:#f36f24 !important;
	 }
	 .dropdown:hover .dropdown-menu a:hover{
	    background-color:#f36f24 ;
	    color :#FFF !important;
	    font-weight:bold;
	 }

	 #sidebar-wrapper{
		display:block;
	 }
	 @media (min-width:768px){
	 	#sidebar-wrapper{
			display:none;
		 }
	 }

	@media (min-width: 768px){
		.dropdown:hover .dropdown-menu a{
			text-align:left;
		}
	}

	@media (min-width: 768px){
		.navbar-nav {
		    float: right;
		    height:90px;
		}
		.navbar-nav>li{
			height:100%;
		}
		.navbar-nav>li>a{
			padding-top: 35px;
	  	 	padding-bottom: 35px;
		}

		.nav>li>a{
			padding-left:5px;
			padding-right:5px;
		}
	}

	@media (min-width: 850px){
		.nav>li>a{
			padding-left:10px;
			padding-right:10px;
		}
	}

	@media (min-width: 991px){
		.nav>li>a{
			padding-left:20px;
			padding-right:20px;
		}
	}

	@media (min-width: 1100px){
		.nav>li>a{
			padding-left:20px;
			padding-right:20px;
		}
	}

	.navbar .row{
	    padding-left: 0px;
		padding-right: 0px;
		margin:auto;
	}

	@media (min-width: 768px){
		.navbar .row{
			padding-left: 0px;
			padding-right: 0px;
			margin:0px;
		}
	}

	@media (min-width: 1100px){
		.navbar .row{
			margin:auto;
			max-width:1200px;
		}
	}

/* end include_header	*/



/* start include_footer	*/

	#footerContainer{
		background-color: #0f847b;
		padding-left:15px;
		padding-right:15px;
		border-bottom: 8px solid #f0dc01;
	}
	#footerContainer>div{
		padding:0px 0px 25px 0px;;
	}

	#footerContainer,
	#footerContainer a {
		color:#FFF;
	}
	#copyrightContainer{
		text-align:center;
		padding:10px 0px;
	}



	#footerContainer .footerList .ingredients *,
	#footerContainer .footerList .theme *,
	#footerContainer .footerList .product * {
		padding:2px 0px;
	}

	#footerContainer .footerList .title{
		font-weight:bold;
		font-size:16px;
		padding:4px 0px;
	}

	#footerContainer .footerList{
		padding-bottom:8px;
		padding-left:12px;
		padding-right:12px;
		margin-bottom:8px;
		width:32%;
	}
	#footerContainer .footerList.btnContainer{
		width:100%;
	}


	#footerContainer .footerList:last-child,
	#footerContainer .footerList:nth-child(3) {
		border-bottom:none;
	}

	.footerListContainer{
		margin-bottom:20px;
		height:200px;
	}
	@media(min-width:768px){
		.footerListContainer{
			margin-bottom:40px;
		}

	}

	@media(min-width:768px){
		#footerContainer .footerList{
			border-bottom:none;
			padding-left:30px;
			width:23%;
		}
		#footerContainer .footerList.btnContainer{
			width:23%;
		}
		#footerContainer .footerList:first-child{
			padding-left:0px;
		}
		#footerContainer .footerList:last-child,
		#footerContainer .footerList:nth-child(3){
			border-right:none;
		}

	}

	#footerContainer .btnContainer{
		padding:0px;
		text-align:center;
		padding-top: 20px;
	}

	.btnContainer img{
		padding:8px 0px;
	}

	@media(min-width:768px){
		#footerContainer .btnContainer{
			padding:0px;
			padding-top: 0px;
		}

		.btnContainer img{
			height:38px;
			padding:4px;
		}
	}


	#footerContainer hr{
		border-color:#29b1a5;
		border-style: inset;
  	  	border-width: 1px;
	}

	#footerContainer .footerLinks a{
		padding: 0px 6px;
		border-right: 1px solid #FFF;
		text-align:center;
		margin:4px 0px;
		float:left
	}

	#footerContainer .footerLinks a{
			width:33.3%;
			height:30px;
			padding-top:5px;
	}
	@media(min-width:768px){
		#footerContainer .footerLinks a{
			width:12.5%;
			height:auto;
		}
	}


	#footerContainer .footerLinks a:last-child{
		border-right:0px;
	}


	#footerTitle{
		font-size:20px;
	}

	#backtotopDiv{
	    text-align: center;
	}

	@media(min-width:768px){
		#footerTitle{
			font-size:15px;
			padding-top: 40px;
		}

		#backtotopDiv{
			float:right;
		}
	}

/* end include_footer	*/


/* start common */
	.mainContainer{
		background-image:url(../images/pagebg.jpg);
	}
	@media(min-width:768px){
		.mainContainer .container.swansonBreadcrumb{
			margin:auto;
			padding-left:250px;
		}
	}

	.breadcrumb{
		color:#0e847a;
		font-weight:bold;
		padding-bottom:12px;
	}
/* end common */


/* recipe */

	#leftMenu .searchTool{
		padding:18px;
		background-color:#0f847b;
		color:#FFF;
		font-weight:bold;
		font-size:20px;
	}

	#leftMenu .title{
		padding:15px;
		margin:5px 0px;
		background-color:#0f847b;
		color:#FFF;
		font-weight:bold;
	}

	#leftMenu .collapsible{
		cursor:pointer;
	}
	#leftMenu .collapsible div:first-child{
		width:80%;
		display:inline-block;
	}
	#leftMenu .collapsible div:last-child{
		width:18%;
		display:inline-block;
		text-align:right;
	}

	#leftMenu .collapsibleContent{
		border: 1px solid #0F847B;
		background-color:#FFF;
		padding:15px;
	}
	#leftMenu .collapsibleContent{
		max-height:400px;
		overflow-y:auto;
	}
	#leftMenu .collapsibleContent label{
		padding:3px 0px;
		color: #0F847B;
		font-weight:bold;
		display:block;
		cursor:pointer;
	}
	#leftMenu .collapsibleContent label:hover{
		background-color:#0F847B;
		color:#FFF;
	}
	#leftMenu .collapsibleContent [type='checkbox']{
		font-size:15px;
		margin:5px;
	}

	#leftMenu .collapsible .activeIcon{
		display:none;
	}
	#leftMenu .collapsible.active .activeIcon {
		display:block;
	}

	#leftMenu .collapsible .inActiveIcon{
		display:block;
	}

	#leftMenu .collapsible.active .inActiveIcon{
		display:none;
	}

	#leftMenu>div:last-child{
		margin-bottom:200px;
	}
	#leftMenu, #leftMenu *{
		transition:none;
	}
	.recipeItem{
		padding-right:10px;
		margin-bottom: 20px;
		height:auto;
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
	@media (min-width:768px){
		.recipeItem{
			margin-bottom: 0px;
		height:300px;
		}

	}

	.recipeItem:hover>div{
		height:105%;
		margin-top:-5%;
		z-index:10;

	}

	.recipeItem:nth-child(3n){
		/*padding-right:0px;*/
	}

	.recipeItem .image{
		background-color:#FFF;
	}
	.recipeItem .image img{
		width:100%;
		-webkit-transform-origin: center center;
			transform-origin: center center;
	}
	.recipeItem .caption{
		width:100%;
		height:auto;
		background-color:#FFF;
	}
	@media (min-width:768px){
		.recipeItem .caption{
			height:100px;
		}
	}


	.recipeItem .title{
		color:#0F847B;
		display:inline-block;
		padding:8px;
		width:55%;
		font-weight:bold;
		font-size:18px;
	}

	@media (min-width:768px){
		.recipeItem .title{
			font-size:24px;
			width:60%;
		}
	}
	.recipeItem .productIcon{
		width:40%;
		display:inline-block;
	}
	.recipeItem .productIcon img{
		width:100%;
		padding:5px;
	}
	@media (min-width:768px){
		.recipeItem .productIcon{
			float:right;

		}

	}
	#wrapper #page-content-wrapper{
		padding: 0px;
		padding-top:75px;
	}
	@media(min-width:768px){
		#wrapper #page-content-wrapper{
			padding: 0px;
		}

	}
/* recipe */
