#rightNav .rightLinks {{padding-right:10px;}

#mainContent{
	background-image:url();
}

.index_bodyLeft{			
	width:632px;

}
	.index_more a:active, .index_more a:link, .index_more a:visited{		
		font-size:18px;
	}

.mainKV{
	z-index:-1;
}
.mainCaption{
	background-image:url("../images/mainCaptionbg_ie6.png");
	background-position:left bottom;
	background-repeat:no-repeat;
	height:70px;
	overflow:hidden;
	padding:390px 0 0 135px;
	position:absolute;
	width:555px;
}
	.mainCaption_title{
		padding-top:15px;
	}
	.mainCaption_detail{
		padding-top:25px;
	}
	
	.recipeCaptionBg{
			position:absolute;
			width:692px;
			height:150px;
			overflow:hidden;
			padding:375px 0px 0px 0px;
	}
.recipeCaption{
	position:absolute;
	width:555px;
	height:150px;
	*height:175px;
	overflow:hidden;
	padding:375px 0px 0px 135px;
	*padding-top:350px;
	bbackground-image:url("../images/recipes/recipeCaptionbg_ie6.gif");
	bbackground-position:bottom left;
	bbackground-repeat:no-repeat;	
}


.smallpic_detail_c2_txt2{
	width:50px;
}
	
.smallpic_detail_c3{
	height:22px;
}

.resultPaging{
	width:665px;
	padding:15px 0px 0px 20px;
}
	.resultPageNo{
		
	}
	.resultPrev a:active , .resultNext a:active {
		width:55px;
		color:#dd0a24;		
		font-size:18px;
		line-height:25px;
	}
	
.bloggerMethodLink, .bloggerMethodLink a{

	overflow:hidden;
}	

	
#accordion {	
	padding:0px;
	
}
	.foodListing, .soupListing, .dishListing {
		
	}
	
	.foodInactive, .foodInactive a{ 	background-image:url(../images/accordion/food.jpg);	}
	.foodCurrent, .foodInactive a:hover {	background-image:url(../images/accordion/food_rollover.jpg);	}
	.soupInactive, .soupInactive a{	background-image:url(../images/accordion/soup.jpg);	}
	.soupCurrent, .soupInactive a:hover{	background-image:url(../images/accordion/soup_rollover.jpg);	}
	.dishInactive, .dishInactive a {	background-image:url(../images/accordion/dish_rollover.jpg);}
	.dishCurrent, .dishInactive a:hover {	background-image:url(../images/accordion/dish.jpg)}
	.foodInactive, .foodInactive a, .foodCurrent, .foodInactive a:hover, .soupInactive, .soupInactive a, .soupCurrent, .soupInactive a:hover, .dishInactive, .dishInactive a ,.dishCurrent, .dishInactive a:hover {	
		width:228px;height:35px;
	}
	.ui-widget-content {
		background:url("../images/accordion/bg.png") repeat-y scroll 50% 50% white;
	}
	
	.listSoupPhoto {
		width:45px;
		height:70px;
	}
	.listSoupL, .listSoupR {
		height:100px;	
	}



.index_bodyRight{
}
	
	.indexRightWidget{
		padding-left:40px;
	}
	.indexRightFB{
		padding-left:40px;		
	}
		.indexRightFBLike{
			
		}
	
/* flash banner */
.flashBannerAd, .alignCenter{position:absolute;}
	
/* =Print Style
-------------------------------------------------------------- */

@media print {

	#BrowserMessage{
		display:none;
	}	
	
	.ingreMethod{			
		padding:0px;		
	}
		
		.ingredients{
			padding:0px;
			padding-top:20px;
		}
			.ingreBox{				
				
			}
				.ingreRow{
					
				}
					.ingreName, .ingreVol{						
						
					}
		.method{
			
		}
		.recipesPhoto{
			display:none;
			padding:0px;
		}
		.recipesPhotoStepNo{
		
		}
		.recipesPhotoStepTxt{			
			padding:0px;
		}
		
	.bloggerMethodDetail, .bloggerMethodPhotoArea, .bloggerMethodIngre, .bloggerMethodMethod, .bloggerMethodMoreLink{
		width:800px;
		padding:0px;
		margin:0px;
		padding-top:5px;
	}
	
	.bloggerMethodDetail{				
		float:none;		
	}		
		.bloggerMethod{
			
		}
		.bloggerMethodMethod{
			
		}	

}