
<style>	
	#popup_confirm{
		display: table;
	}
	
	#popup_confirm>div{
		min-width:300px;
		display: table-cell;
		vertical-align: middle;
	}
	
	#popup_confirm #popup_title{
		font-weight:bold;
		font-size: 125%;
		padding: 4px 16px;
	}
	
	#popup_confirm hr{
		margin:8px;
		border-top: 1px solid #CCC;
	}
	
	#popup_confirm #popup_message{
		padding: 12px 16px;
	}
	
	#popup_btnContainer_yesno, #popup_btnContainer_ok{
		text-align:center;
		margin: 16px auto 0px auto; 
	}

	#popup_confirm button{
		margin:18px 6px;
	}
</style>




<div id="popup_confirm" class="popup">
	<div>
		<div id="popup_title">
			title
		</div>
		<hr/>
		<span id="popup_message">message</span>
		<div id="popup_btnContainer_yesno">
			<button id="popup_confirm_no" type="button" class="btn btn-default btn-enlarge" >
				No
			</button>
			<button id="popup_confirm_yes" type="button" class="btn btn-info btn-enlarge" >
				Yes
			</button>
			<button id="popup_confirm_yes_danger" type="button" class="btn btn-danger btn-enlarge" >
				Yes
			</button>
		</div>
		
		<div id="popup_btnContainer_ok">
			<button id="popup_confirm_ok" type="button" class="btn btn-default btn-enlarge" >
				OK
			</button>
		</div>
	</div>
</div>