@charset "utf-8";

/* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline:medium none;
}
html>body {
	margin:0;
}

body{
	background-color:#ffffff;
	background-image:url(../../images/en/bg.gif);
	background-repeat:repeat-x;
	background-position:top left;
}

p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#09221f;
	line-height:20px;
}
h1{
	text-indent:-999999px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#FFFFFF;
	font-weight:normal;
}
h3{	font-size:24px;}

h4{font-size:20px;}

a, a:link, a:active{

	color:#008073;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}
a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
}
img {	border:0px;}

ul{	
	margin:0px;
}
.nodisp{ display:none;}
.left{float:left;}
.right{float:right;}
.font12_white{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff;}
.font12_brown{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#09221f;}
.font_green{color:#548466;}
.font_blue{color:#008073;}
 
/*------------------------------------NAVIGATION---------------------------------------------*/

#mainmenu{ 
	width:265px; /*265px*//*185px*/
	position:relative;
}

#menu, #menu li.main , #menu li.main a.menu_link, #menu li.main a.current{
	background-image:url(../../images/en/nav.jpg);
	background-repeat: no-repeat;
	height: 30px; 
	display:block;

}

#recipes a.menu_link, #campaign a.menu_link, #widget a.menu_link, #aboutSwanson a.menu_link,
#recipes a.current, #campaign a.current, #widget a.current, #aboutSwanson a.current, {
	background-image:url(../../images/en/nav.jpg);
	background-repeat: no-repeat;
	display:block;
}

li#recipes	 		{ position: absolute;	left: 0px;  	top: 0px;	width:110px;}
/*li#widget			{ position: absolute;	left: 110px;  	top: 0px;	width:110px;}*/
li#aboutSwanson 	{ position: absolute; 	left: 110px;	top: 0px;	width:110px;}

#recipes 			a.menu_link		{ background-position: 0px 		0px;	width:110px;}
#widget				a.menu_link		{ background-position: -110px 	0px;	width:110px;}
#aboutSwanson		a.menu_link		{ background-position: -110px 	0px; 	width:110px;}

#recipes 			a.menu_link:hover     	{ background-position: 0px 		-30px;	width:110px;}
#widget 			a.menu_link:hover 	    { background-position: -110px 	-30px;	width:110px; cursor:default;}
#aboutSwanson		a.menu_link:hover		{ background-position: -110px	-30px;  width:110px; cursor:pointer;}

#recipes 			a.current    	{ background-position: 0px 		-30px;		width:110px;}
#widget 			a.current	    { background-position: -110px 	-30px;		width:110px;}
#aboutSwanson		a.current		{ background-position: -110px	-30px;		width:110px;}

/*----------------------------------NAV HEADER-----------------------------------------------*/

#Wrapper{
	width:940px;
	margin:0px auto auto auto;
	height: auto;
	overflow:hidden;
}
#Header, #Content{
	width:940px;
	float:left;
	}
#topNav{
	background-color:#008073;
	width:920px;
	height:30px;
	overflow:hidden;
	line-height:30px;
	padding-left:20px;
}

#leftNav{
	height:inherit;
	width:520px;
	float:left;
	}
#rightNav{
	height:inherit;
	width:390px;
	float:right;
	padding-left:10px;
}
	#rightNav a.whiteLink{
		color:#ffffff;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#ffffff;
		padding-right:8px;
		}
	#rightNav .rightLinks {
		padding-right:20px;
		float:left;
	}
#logoSearch{
	padding-top:20px;
	height:80px;
	width:inherit;
	float:left;
	overflow:hidden;
}
	#index{
		padding-left:35px;
		height:80px;
		line-height:inherit;
		width:655px;
		overflow:hidden;
		float:left;
	}
		#index a.logo{
			background-image:url(../../images/en/logo.jpg);
			background-position:top left;
			background-repeat:no-repeat;
			height:100%;
			width:471px;
			display:block;
			border:0px;
		}
		#printableLogo  {
			display: none;
		}
	#search{
		float:right;
		padding-top:40px;		
		width:245px;
		line-height:30px;
	}
		.searchTxtField{
			border:1px solid #CCCCCC;
			height:20px;
			width:165px;
			float:left;
		}
		.searchBtn, .searchBtn a{
			background-image:url(../../images/en/searchBtn.gif);
			background-position:top left;
			background-repeat:no-repeat;
			width:53px;
			height:23px;
			display:block;
			float:left;
			}
			.searchBtn a:hover{
				background-image:url(../../images/en/searchBtn_rollover.gif);
				background-position:top left;
				background-repeat:no-repeat;
			}
		
/*-------------------------------------------------------------------------------------------*/


/*----------------------------------INDEX-----------------------------------------------*/
#mainContent{
	width:940px;
	height:485px;
	background-image:url(../../images/en/kv/kv_bg.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;
}
	.mainKV{
		position:absolute;
		padding-top:10px;
		width:inherit;
		height:450px;
	}
		.mainKVLink{
			width:inherit;
			height:450px;
			cursor:pointer;
		}

	.mainSoup{
		position:relative;
		padding: 330px 0px 0px 30px;
		width:95px;
		overflow:hidden;
	}
	.mainCaption{
		position:absolute;
		width:555px;
		height:85px;
		overflow:hidden;
		padding:375px 0px 0px 135px;
		*padding-top:360px;
		*height:100px;
		background-image:url(../../images/en/mainCaptionbg.png);
		background-position:bottom left;
		background-repeat:no-repeat;
	}
	
	.recipeCaptionBg{
			position:absolute;
			width:692px;
			height:180px;
			overflow:hidden;
			padding:350px 0px 0px 0px;
	}
		.recipeCaption{
			position:absolute;
			width:555px;
			height:180px;
			*height:200px;
			overflow:hidden;
			padding:358px 0px 0px 135px;
			*padding-top:325px;
			bbackground-image:url(../../images/en/recipes/recipeCaptionbg.png);
			bbackground-position:bottom left;
			bbackground-repeat:no-repeat;
		}
		.mainCaption_title, .recipeCaption_title{
			float:left;
			line-height:26px;
			padding-top:5px;			
			*padding-top:20px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-bottom:5px;
			/*height:35px;
			overflow:hidden;*/
		}
			.recipeCaption_title{
				padding-top:0px;			
				*padding-top:30px;
				height:52px;
			}
		.mainCaption_detail, .recipeCaption_detail{
			clear:left;
			/*height:30px;*/
			width:220px;
			padding:0px 0px 8px 0px;
			/*padding-top:30px;*/
		}
			.recipeCaption_detail{
				height:15px;
				/*padding-top:35px;*/
			}
		.mainCaption_diff{
			height:17px;;
			line-height:17px;
			float:left;
		}
			.diff_field1{ padding-right:5px;}
		.mainCaption_time{
			height:16px;
			line-height:16px;
			float:right;
		}
			.time_field1{padding-right:5px;}
			
#ContentBreak{
	margin-bottom:490px;	
}
#accordion{
	position:relative;
	overflow:hidden;
	width:228px;
	float:right;
	padding-right:20px;
}

.ContentBottom{
	padding-top:30px;
	width:692px;
	clear:both;
	overflow:hidden;
	
}
	.ContentBottomRecipe{
		padding-top:40px;
		width:692px;
		clear:both;
		overflow:hidden;
	}

.ContentTop{
	width:692px;
	float:left;
	overflow:hidden; 
}

/*accordion*/
.accordionBg{
	float:left;
	width:100%;
	height:312px;
	background-image:url(../../images/en/accordion/bg.png);
	background-repeat:repeat-y;
	background-position:top left;
}

.accordionHeader, .accordionHeader a{
	width:100%;
	height:35px;
	float:left;
	background-position:top left;
	background-repeat:no-repeat;
	padding-bottom:1px;
}
	.foodInactive, .foodInactive a{	background-image:url(../../images/en/accordion/food.jpg);	}
	.foodCurrent, .foodInactive a:hover {	background-image:url(../../images/en/accordion/food_rollover.jpg);	}
	.soupInactive, .soupInactive a{	background-image:url(../../images/en/accordion/soup.jpg);	}
	.soupCurrent, .soupInactive a:hover{	background-image:url(../../images/en/accordion/soup_rollover.jpg);	}
	.dishInactive, .dishInactive a {	background-image:url(../../images/en/accordion/dish_rollover.jpg);}
	.dishCurrent, .dishInactive a:hover {	background-image:url(../../images/en/accordion/dish.jpg)}


.accordionBtn, .accordionBtn a, .accordionBtnRollover{
	float:left;
	background-position:top left;
	background-repeat:no-repeat;
	height:57px;
	width:100%;
}
	.accordionBtn, .accordionBtn a{
		background-image:url(../../images/en/accordion/search.jpg);
	}	
	.accordionBtn a:hover{
		background-image:url(../../images/en/accordion/search_rollover.jpg);
	}
	
	
	 
	#accordion ul{
		padding:20px 0px 0px 0px;
		list-style-position:inside;		
	}
		.foodListing,.soupListing, .dishListing{	
			padding-top:10px;	height:300px ;overflow:auto;
			/*background: url(../../images/en/accordion/bg.png) 50% 50% repeat-y;*/
		}
		.soupListing{ *padding-top:15px;		}
		.listText{
			/*height:20px;*/
			padding-left:20px;
			padding-bottom:8px;
			*padding-left:17px;
			*padding-bottom:4px;			
		}
		.checked, .uncheck{ float:left;		}
		.checked{ background-image:url(../../images/en/accordion/checked.gif);			}
		.uncheck{ background-image:url(../../images/en/accordion/check.gif);		}

		.listSoupL{
			float:left;
			width:96px;
			*width:98px;
			height:88px;
			*height:91px;
			-height:91px;
			overflow:hidden;
			padding:0px 0px 5px 20px;
			*padding-left:17px;
			*padding-bottom:5px;
		}
		.listSoupR{
			float:left;
			width:95px;
			height:96px;
			*height:99px;
			-height:99px;
			overflow:hidden;
			padding:0px 0px 5px 0px;
			*padding-bottom:5px;
		}
		.listSoupDisplay{
			float: left; 
			padding-left: 5px;
		}
		.listSoupPhoto{
			padding-left:5px;
			*padding-left:2px;
		}
		.listSoupText{
			display:block;
			padding:1px 0px 0px 23px;
			font-size:11px;
			line-height:10px;
			width:75px;
/*			height:22px;*/
			*padding-left:26px;
			}
		.listPaddingLeft{
			display:inline-block;
			padding-left:10px;
			vertical-align:top;			
			width:155px;
		}


.printableCaption {
	display: none;
}

/*-----------------------INDEX-------------------------------*/
/*------ index body------*/
.index_body{
	width:940px;
	clear:left;
	padding-bottom:50px;
	overflow:hidden;
}

.index_bodyLeft{
	width:692px;
	float:left;
	overflow:hidden;
	_padding-right:50px;
}

.index_bodyRight{
	width:248px;
	float:right;
}
	.indexRightWidget{
		width:190px;
		height:190px;
		padding:25px 18px 25px 20px;
		float:left;
		overflow:hidden;
	}
		.indexRightTitle{
			font-size:20px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			float:left;
			padding-bottom:10px;
			color:#033338;
		}
		.indexRightDetail{
			float:left;
			width:190px;
		}
			.indexRightWidgetIcon{
				height:135px;
				width:85px;
				float:left;
				background-image:url(../../images/en/widgetIcon.gif);
				background-position:top left;
				background-repeat:no-repeat;
			}
			.indexRightWidgetWordings{
				width:105px;
				float:left;
			}
				.indexRightWidgetTxt{
					color:#493e2a;
					font-size:12px;
					font-family:Arial, Helvetica, sans-serif;
					line-height:20px;
				}
				.indexRightWidgetLink, .indexRightWidgetLink a{
					padding-top:10px;
					color:#008073;
					font-size:12px;
						font-family:Verdana, Arial, Helvetica, sans-serif;
				}
				 .indexRightWidgetLink a:hover{
				 	color:#222222;
				 }
			.indexRightWidgetBorder{
				float:left;
				padding-top:25px;
				width:190px;
				border-bottom:1px solid #eeeeee;

			}
			
		.indexRightFB{
			padding:20px 18px 25px 20px;
			clear:right;
			/*overflow:hidden;*/
			height:100px;
		}
			.indexRightFBLike{
				width:200px;
				height: 50px;
				/*overflow: hidden;*/
				float:left;
			}

	.smallpic_row{
		width:inherit;
		clear:left;
		overflow:hidden;
	}
	.smallpic{
		width:320px;
		height:218px;
		padding:0px 0px 15px 20px;
		float:left;
	}
		.smallpicLink{
			width:320px;
			height:208px;
			cursor:pointer;
		}
	
		.smallpic_soup{
			position:relative;
			width:45px;
			height:70px;
			clear:both;
			padding-top:92px;
		}
		.smallpic_pic{
			position:absolute;
		}
		.smallpic_pic.small_template{
			background-color:#e9f2cb;
			width:auto; height:auto;
			padding:30px 60px;
		}
		.smallpic_detail, .smallpic_detail a{
			position:relative;
			background-image:url(../../images/en/smallpic_overlay.png);
			background-repeat:no-repeat;
			background-position:top left;
			height:192px;
			padding:8px 0 0 8px;
		}
			.smallpic_detail_c1{
				font-size:18px;
				font-family:Verdana, Arial, Helvetica, sans-serif;
				color:#008073;
				padding-right:5px;
				float:left;
				max-width:220px;
				line-height: 19px;
				height:40px;
				overflow:hidden;				
			}
				.smallpic_detail_c1:hover{
					color:#333333;
				}
			.smallpic_detail_c2{
				padding-top:0px;
				*padding-top:5px;
				padding-right:5px;
				float:left;
				height:22px;
			}
				.smallpic_detail_c2_txt1{
					height:12px;
					float:left;
					*height:10px;
				}
					
				.smallpic_detail_c2_txt2, a.smallpic_detail_c2_txt2{
					height:14px;
					line-height:14px;
					clear:left;
					font-family:Verdana, Arial, Helvetica, sans-serif;
					color:#333333;
					font-size:11px;
				}
			.smallpic_detail_c3{
				float:left;
				height:24px;
				width:10px;
				background-image:url(../../images/en/smallpic_arrow.gif);
				background-position:top left;
				background-repeat:no-repeat;
				
			}
	
	.index_more, .index_more a, .index_more a:hover{
		clear:left;
			font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:18px;
	}	
	.index_more{
		padding:40px 0px 40px 20px;
		*padding-top:20px;
	}

/*-------------------Search Result---------------------------*/
.resultTop{
	padding:15px 10px 0px 20px;
	float:left;
	width:660px;
}

	.resultTopTitle{
		float:left;
		padding-right:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:32px;
		line-height:32px;
		color:#11887b;
		height:30px;
		}
	.resultDetail{
		clear:left;
		display:block;
		padding-top:8px;
	}
	.resultMore{ display:none; width:520px;}
	.resultCategory, .resultTotal{	line-height:15px; font-size:12px;	 width:650px;	}
	.resultCategoryTxt{
		overflow: hidden;
		line-height:15px;
	}
	#resultCategoryTxt {					
		line-height:15px;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		width: 500px;
		float:left;
	}
	.resultTotal{ 	/*height:15px;*/	 width:550px;}



.resultPaging{
	padding:15px 10px 50px 20px;
	width:660px;
	float:left;
	height:25px;		

}
	.resultPrev, .resultNext, .resultPageNo{
		height:inherit;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		float:left;
	}

	.resultPageNo{
		margin:0px auto auto auto;
		width:550px;
		text-align:center;
		font-size:14px;
		float:left;
	}
		.resultWordsPage{
			color:#222222;
			line-height:23px;
			display:inline;
		}
		.resultWordsNo{			
			height:23px;
			line-height:23px;
			padding:2px 10px 2px 10px;
			color:#008073;
			display:inline;
		}
		.resultWordsNoCurrent {
			background-color:#fdf7e5;
			height:23px;
			line-height:23px;
			padding:2px 10px 2px 10px;
			color: #008073;
			display:inline;
		}
		
		
	.resultPrev, .resultPrev a {	text-align:left;	}
	.resultNext, .resultNext a{ 	text-align:right;}
	
	.resultPrev, .resultNext, .resultPrev a, .resultNext a{
		width:55px;
		color:#008073;
		font-size:18px;
		line-height:25px;
	}
	.resultPrev a:hover, .resultNext a:hover{
		width:55px;
		color:#222222;		
		font-size:18px;
		line-height:25px;
	}



/*----------------------recipes-----------------------*/
/* FUNCTION bar*/
.recipesFunctionBar{
	width:100%;
	height:30px;
	float:left;
	
}
.recipesPrintBtn, .recipesPrintBtn a ,	.recipesPrintBtn a:hover{	
	background-position:top left;
	background-repeat:no-repeat;
	width:55px;
	height:16px;
	float:left;
	padding-right:3px;
}
	.recipesPrintBtn, .recipesPrintBtn a{ 	background-image:url(../../images/en/recipes/recipes_print.gif);	}
	.recipesPrintBtn a:hover{		background-image:url(../../images/en/recipes/recipes_print_rollover.gif);	}

.recipesWidgetBtn, .recipesWidgetBtn a, .recipesWidgetBtn a:hover {
	background-position:top left;
	background-repeat:no-repeat;
	width:	95px;
	height:16px;
	float:left;
	padding-right:3px;
}
	.recipesWidgetBtn, .recipesWidgetBtn a{ background-image:url(../../images/en/recipes/recipes_widget.gif);	}
	.recipesWidgetBtn a:hover{ background-image:url(../../images/en/recipes/recipes_widget_rollover.gif);	}

.recipesAddThisBtn, .recipesAddThisBtn a, .recipesAddThisBtn a:hover{
	background-position:top left;
	background-repeat:no-repeat;
	width:	128px;
	height:16px;
	float:left;
	padding-right:3px;
}

.recipesFbBtn{
	background-position:top left;
	background-repeat:no-repeat;
	width:	80px;
	height: 20px;
	float: right;
	overflow: hidden;
}

/*OTHER method*/
.otherMethod{
	float:left;
	padding:15px 10px 25px 115px;
	*padding:15px 10px 0px 115px;
	width:430px;
	
}
 	.otherMethodTitle{
		width:90px;
		text-align:right;
		float:left;
		line-height:18px;
		color:#033338;
			font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;	
	}
	.otherMethodBox{
		padding-left:15px;
		width:150px;
		height:50px;
		float:left;
		overflow:hidden;
	}	
	.otherMethodPhoto{
		width:80px;
		height:50px;
		overflow:hidden;
		float:left;
	}
	.otherMethodText{
		float:left;
		line-height:14px;		
		font-size:12px;	
		height:50px;
		width:62px;
		padding:4px;	
		background-color:#fdf8e9;
		overflow:hidden;
	}
	/*.otherMethodPersonName, .otherMethodPersonName a{
		color:#9f7424;
		font-size:11px;
		font-family:Arial, Helvetica, sans-serif;
		float:left;
		display:inline-block;
		overflow:hidden;
	}*/
	.otherMethodArrow, .toherMethodArrow a{
		background-image:url(../../images/en/recipes/othermethodArrow.gif);
		background-position:center right;
		background-repeat:no-repeat;
		width:5px;
		height:10px;
		float:left;
		display:inline-block;
	}


/*ingredients & method*/
.ingreMethod{
	float:left;
	width:692px;
	overflow:hidden;
	padding-bottom:40px;
}
	/*ingre*/
	.ingredients{
		float:left;
		width:200px;
		overflow:hidden;
		padding:20px 10px 40px 20px;
	}
		.ingredientsTitle, .methodTitle, .bloggerTitle{
			font-size:26px;
			color:#033338;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-bottom:15px;
			width:100%;
		}
		.ingreBox{
			margin:0;
			padding:0px;
			list-style:none;
			font-size:12px;
			font-family:Arial, Helvetica, sans-serif;
			color:#333333;
			overflow:hidden;
		}
		.ingreRow{
			width:200px;
			float:left;
			padding-bottom:8px;
		}
			
			.ingreName, .ingreVol{
				display:inline-block;	
				float:left;
				line-height:15px;
			}
			.ingreName{	width:150px;}
			.ingreVol{ width:50px;}
			
		/* Trips */
		.ingreMethod p {
			padding-left:185px;
		}
	
	/*method*/
	.method{
		float:left;
		width:450px;
		overflow:hidden;
		padding:20px 0px 0px 0px;
	}
		.method ul{
			padding:0px;
			margin:0px;
			list-style: none;
		}
		.methodSteps{
		/*	height:27px;*/
			float:left;
			padding-bottom:8px;
		}
			.methodStepsTxt,.methodStepsNo, .recipesPhotoStepNo, .recipesPhotoStepTxt{
				font-size:12px;
				font-family:Arial, Helvetica, sans-serif;
				color:#4b453b;				
				}
			.methodStepsTxt{
				float:left;				
				display:inline-block;
				padding-left:10px;
				width:425px;
			}
			.methodStepsNo{
				font-weight:bold;
				float:left;
				background-color:#e9ddae;
				color:#222222;
				width:15px;
				height:15px;
				display:inline-block;
				text-align:center;
			}
		
	/*photo steps*/
	
	.recipesPhotoStep{
		width:158px;
		padding:0px 10px 35px 0px;
		overflow:hidden;
		float:left;
	}
		.recipesPhoto{
			position:absolute;
			width:158px;
			height:95px;
			overflow:hidden;
		}
			.recipesPhotoStepNo{
				padding:80px 145px 0px 0px;
				text-align:center;
				position:relative;
				width:16px;
				height:15px;
				background-image:url(../../images/en/recipes/methodListBg.gif);
				background-position:bottom left;
				background-repeat:no-repeat;
				font-weight:bold;
			}	
			.recipesPhotoStepTxt{
				width:inherit;
				overflow:hidden;
				line-height:18px;
			}
			
/*BloggerMethod*/
.bloggerMethod{
	padding:40px 0px 40px 0px;
	float:left;
	overflow:hidden;
	width:692px;
	border-top:1px #e1f0e5 solid;
}
	.bloggerMethodDetail{
		width:330px;
		float:left;
		padding-right:15px;
	}
		.bloggerMethodPhotoArea{
			width:330px;
			float:left;
			background-color:#fdf8e9;
			height:222px;
			display:block;
		}	
		.bloggerMethodPhotoArea.no_bloggerMethodTips{
			background-color:transparent;
		} 
		.bloggerMethodPhotoArea.photo_size_small .bloggerMethodPhoto{
			width:auto;
			background:#e9f2cb;
			padding:30px 60px;
		}
			.printableBloggerMethodTitle{
				display:none;
			}
			.bloggerMethodTitle{
				background-image:url(../../images/en/recipes/bloggerpicOverlay.png);
				background-position:top left;
				background-repeat:no-repeat;
				position:relative;
				font-size:18px;
				line-height:19px;
					font-family:Verdana, Arial, Helvetica, sans-serif;
				color:#008073;		
				height:177px;	
				padding:8px;
			}
			.bloggerMethodTips{
				position:relative;
				padding:0px 20px 0px 5px;
				color:#555555;
				height:25px;
				line-height:25px;
				font-size:11px;
				font-family:Arial, Helvetica, sans-serif;
				width:280px;
			}
			.bloggerMethodOverlay{
				position:absolute;
				width:320px;
			}
			.bloggerMethodPhoto{
				position:absolute;
				width:330px;
			}
			
		.bloggerMethodIngre, .bloggerMethodIngreTitle, .bloggerMethodIngreTitle, .bloggerMethodMethodTitle, .bloggerMethodIngreDetail, .bloggerMethodMethodNo, .bloggerMethodMehtodTxt, .bloggerMethodMore{
			font-size:11px;
			font-family:Arial, Helvetica, sans-serif;
			color:#4b453b;
		}	
		.bloggerMethodIngreTitle, .bloggerMethodMethodTitle{
			font-weight:bold;
		}
		.bloggerMethodIngre{	padding: 15px 0px 10px 0px; overflow:hidden; clear:left;}
		
			.bloggerMethodIngreTitle{
				width:75px;
				padding-right:10px;
				float:left;
				line-height:22px;
			}
			.bloggerMethodIngreDetail{	width:240px;	float:left;}
			.bloggerMethodIngreLine {line-height:22px; float:left;  width:100%;	}

		.bloggerMethodMethod{
			width:100%;
			float:left;
			padding-bottom:30px;
		}
			.bloggerMethodMethodTitle{	padding-bottom:10px;}
			.bloggerMethodMethodSteps{ float:left; padding-bottom:10px;}
			.bloggerMethodMethodNo{	float: left; width:16px; display:inline-block;	}
			.bloggerMethodMehtodTxt{float: left; display:inline-block; width:295px;}
		
		.bloggerMethodMoreLink{
			width:330px;
			float:left;
			display:block;
			overflow:hidden;
		}
		.bloggerMethodMore{
			float:left;
			width:45px;
			background-image:url(../../images/en/recipes/othermethodArrow.gif);
			background-position:top right;
			background-repeat:no-repeat;
			line-height:15px;
		}
		.bloggerMethodLink, .bloggerMethodLink a{
			padding-left:5px;
			float:left;
			width:270px;
			line-height:15px;
			display:block;
		}


/*facebook*/
.recipeFacebook{
	padding:0px 0px 40px 0px;
	float:left;
	overflow:hidden;
	width:680px;
	background-color:#f2f2f2;
}
	.recipeFbTitle{
		float:left;
		background-image:url(../../images/en/recipes/fbTitle.jpg);
		background-position:top left;
		background-repeat:no-repeat;
		width:680px;
		height:30px;
	}
	.recipeFbComment{
		float:left;
		width:680px;
		padding:20px;
	}



/*small-photo-recipe*/
.small-photo-recipe {
	padding-top:10px;
}
#mainContent.small-photo-recipe {
	height:auto;
	background:none;
}
.small-photo-recipe .mainKV{
	width:198px;
	height:133px;
	background-color:#d8e8a5;
	padding:5px 5px 5px 5px;
	float:left;
	position:relative;
}
.small-photo-recipe .mainSoup{
	padding:0px; 
	padding:7px 0px 5px 0px;
	float:left;
	position:relative;
	background-color:#d8e8a5;
	height:131px;
	width:80px;
}
.small-photo-recipe .recipeCaptionBg{
	height:154px;
	background:url("../../images/recipes/small-recipee-caption-bg.jpg") top left no-repeat;
	padding:0px;
	/* width:468px; */ width:400px; 
	float:left;
	padding:10px 5px 0px 3px;
	position:relative;
	padding:0px;
	
	
}
	.small-photo-recipe .recipeCaption{
			position:absolute;
			/* width:468px; */ width:400px; 
			padding:0px 0px 0px 5px;
			*padding-top:0px;
			background-image:;
			background-position:bottom left;
			background-repeat:no-repeat;
		}

.small-photo-recipe .recipeCaption .mainCaption_title h2{
	color:#008073;
	font-size: 24px;
	line-height: 28px; 
}
.small-photo-recipe .recipeCaption .mainCaption_title{
			float:left;
			height: 70px;
			padding-left: 3px;
			padding-top:8px;
			*padding-top:8px;
			font-family:"Ln", Arial, Helvetica, sans-serif;
			/* width:468px; */ width: 380px; 
		}
			.small-photo-recipe .recipeCaption .recipeCaption_title{
				*padding-top:25px;
			}
			
	.small-photo-recipe .recipeCaption 	.mainCaption_detail, .recipeCaption_detail{
			float:left;
			width:250px;
			padding:0px 0px 5px 3px;
			*padding-top: 0px;
		}
			.small-photo-recipe .recipeCaption .recipeCaption_detail{
				*padding-top:35px;
			}
		.small-photo-recipe .recipeCaption .mainCaption_diff{
			color:#493e2a;
			height:17px;
			line-height:17px;
			float:left;
			width:130px;
			margin-top: 3px;
		}
		.small-photo-recipe .recipeCaption .diff_field1{ padding-right:10px; color:#493e2a;}

		.small-photo-recipe .recipeCaption .time_field1{padding-right:10px; font-size:12px; color:#493e2a; font-family:Arial, Helvetica, sans-serif;}
		
.small-photo-recipe .recipesFbBtn{
	background-position:top left;
	background-repeat:no-repeat;
	width:	80px;
	height: 20px;
	float: left;
	padding: 5px 0px 5px 0px;
	*padding: 3px 0px 5px 0px;
	overflow: hidden;
}

.small-photo-recipe .otherMethod{
	float:left;
	padding:0px 0px 0px 280px;
	width:430px;
	
}
 	.small-photo-recipe .otherMethodTitle{
		width:70px;
		text-align:right;
		float:left;
		line-height:17px;
		color:#650404;
		font-family:"Ln", Arial, Helvetica, sans-serif;
		font-size:14px;	
	}
.small-photo-recipe	.otherMethodText{
		float:left;
		line-height:14px;
		font-size:12px;	
		width:62px;
		padding:4px;	
		height:50px;
		background-color:#fdf8e9;
		overflow:hidden;
	}
	
.small-photo-recipe .recipesPrintBtn{
		margin: -25px 0px 0px 195px; _margin: -25px 0px 0px 95px;
}

.small-photo-recipe .recipesAddThisBtn{
		margin: -25px 0px 0px 255px; _margin: -25px 0px 0px 125px;
}

/*---------------------------------------FOOTER---------------------------------------*/
#footer{
	padding-bottom:50px;

}
	.footerLink a:hover{
		color:#008073;
		}
	.footerTxt, .footerLink, .footerLink a, footerLink a:active{
		color:#8b8181;
		font-size:11px;
		line-height:15px;
		font-family:Arial, Helvetica, sans-serif;
		}

/*---------------------------------------CAMPAIGN OVERLAY---------------------------------------*/
		
.flashBannerAd{		
	height:303px;
	width:196px;
	position: fixed; top: 0px; right: 1%; overflow: hidden;
	z-index:99999;
}
.alignCenter {	
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;	
	margin-top: -325px;	/* a half of the height of content */
	margin-left: -550px;	/* a half of the width of content */
	z-index:99999;
} 