* {
	margin: 0;
	padding: 0;
	outline:medium none;
}
html>body {
	margin:0;
}
.page-break  { display:block; page-break-before:always; }
/*ingredients & method*/
.ingreMethod{	
	width:100%;		
	clear:both;
}
	/*ingre*/
	.ingredients{
		float:left;
		width:155px;
		/*overflow:hidden;*/
		padding:20px 10px 40px 0px;
	}
		.ingredientsTitle, .methodTitle, .bloggerTitle{			
			color:#561010;			
			padding-bottom:15px;
			width:100%;
		}
		.ingreBox{
			margin:0;
			padding:0px;
			list-style:none;			
			font-family:Arial, Helvetica, sans-serif;
			color:#4b453b;
			overflow:hidden;
		}
		.ingreRow{
			width:155px;
			float:left;
			padding-bottom:8px;
		}
			
			.ingreName, .ingreVol{
				display:inline-block;	
				float:left;
				line-height:15px;
			}
			.ingreName{	width:105px;}
			.ingreVol{ width:50px;}
			
		/* Trips */
		.ingreMethod	p {
			padding-left:185px;
			padding-bottom:12px;
			clear:both;
			float:none;
		}

	
	/*method*/
	.method{
		/*float:left;*/
		float: none !important;
		width:505px;		
		overflow:auto;
		padding:20px 0px 0px 0px;
		clear:right;
	}
		.method ul{
			padding:0px;
			margin:0px;
			list-style: none;
		}
		.methodSteps{
			height:25px;
			clear:left;
		}
			.methodStepsTxt,.methodStepsNo, .recipesPhotoStepNo, .recipesPhotoStepTxt{
				font-family:Arial, Helvetica, sans-serif;
				color:#4b453b;
				width:480px;
				}
			.methodStepsTxt{
				float:left;
				padding-left:2px;
				display:inline-block;
				padding-left:10px;
			}
			.methodStepsNo{
				font-weight:bold;
				float:left;
				background-color:#e9ddae;
				color:#222222;
				width:15px;
				height:15px;
				display:inline-block;
				text-align:center;
			}
		
	/*photo steps*/
	
	.recipesPhotoStep{
		width:158px;
		padding:0px 10px 35px 0px;
		overflow:hidden;
		float:left;
	}
		.recipesPhoto{
			position:absolute;
			width:158px;
			height:95px;
			overflow:hidden;
		}
			.recipesPhotoStepNo{
				padding: 0px 0px 0px 0px;
				text-align:center;
				position:relative;
				width:16px;
				height:15px;				
				background-image:url(../images/recipes/methodListBg.gif);
				background-position:top;
				background-repeat:no-repeat;
				font-weight:bold;
			}	
			.recipesPhotoStepTxt{
				width:158px;
				overflow:hidden;
				line-height:18px;
			}
			


/*#topNav {
	display: none;
}
*/

#index, #topNav, #search, #accordion, #index_bodyRight, #footer, .flashBannerAd, #ContainerDivID, .alignCenter, #flashContent, #fb-root{
	display: none;
}
 
#printableLogo  {
	display: block;	
}

#recipesFunctionBar {
	display: none;
}

.recipesFunctionBar {
	display: none;
}

.indexRightFB {
	display: none;
}

.indexRightWidget {
	display: none;
}

#recipesFbBtn {
	display: none;
}

.recipeFacebook {
	display: none;
}

.mainKV {
	padding:0px;
	
}
.mainKV  img{
	width:840px;
	height:350px;
}
.mainSoup {
	overflow: auto;
	float:left;
	margin:0 10px;
}
.recipeCaptionBg{
	display: none;
}

.printableCaption {
	display: inline;
	color: #000000;		
	
}

.ContentBottomRecipe{
	padding-top:0px;
}


.recipeCaption {
	display: none;
}

.recipesPhotoStepNo {
	/*display: none;*/
	/*overflow: auto;*/
	/*position: static;*/
	padding: 0px 0px 0px 0px;
}

.recipesPhotoStepTxt {
	padding: 90px 145px 0px 0px;
	/*display: none;*/
}

.bloggerMethod{	
	width:100%;
}

.bloggerTitle{
	clear:left;
}

	.bloggerMethodDetail{
		width:360px;
		float:left;
		padding-right:0px;
	}
	
	.bloggerMethodIngre{	padding: 15px 0px 10px 0px; overflow:hidden; clear:left;}
		
			.bloggerMethodIngreTitle{	font-weight:bold;padding-bottom:10px;	}
			.bloggerMethodIngreDetail{	width:295px;	float:left;}
			.bloggerMethodIngreLine {line-height:22px; float:left;  width:100%;	}
	
	.bloggerMethodMethod{
			width:100%;
			float:left;
			padding-bottom:30px;
		}
			.bloggerMethodMethodTitle{font-weight:bold;	padding-bottom:10px;}
			.bloggerMethodMethodSteps{ float:left; padding-bottom:10px;}
			.bloggerMethodMethodNo{	float: left; width:16px; display:inline-block;	}
			.bloggerMethodMehtodTxt{float: left; display:inline-block; width:295px;}
		

	.bloggerMethodTitle {
		background-image: none;
		/*background-color: #fff;*/
		height: 10px;
		font-weight:bold;	
		/*display: none;*/
	}

	.bloggerMethodTips {
		padding: 20px 20px 0px 5px;
	}
	
	.bloggerMethodLink{
		width:100%;
		padding-bottom:10px;
	}