html,body {
	margin: 0px;
	padding: 0px;
	font-family: Microsoft JhengHei, "微軟正黑體","Apple LiGothic Medium","蘋果儷中黑","Lucida Grande","Lucida Sans Unicode",Helvetica !important;
	width: 100%;
	height: 100%;
}

#topmenuWrapper {
	height: 36px;
	background-color: #2A2A2A;
	width: 100%;
}

#leftmenuWrapper {
	min-width: 200px;
	width: 200px;
	height: 100%;
	float: left;
	background-color: #2A2A2A;
}

#mainContentWrapper {
	height: 100%\9; 
	height: calc(100% - 36px);
	overflow-y: scroll;
	background-color: #EEE;
	padding: 16px 16px 60px 16px;
}

#pageTitle {
	/*display: inline-block;*/
	width: 50%;
}

#pageTopMenu {
	/*width: 50%;
	display: inline-block;
	text-align: right;*/
}

#pageTopMenu .btn,.recordUtils .btn {
	margin: 4px;
}

#pageTopMenu a:hover {
	text-decoration: none;
}

.recordContainer {
	width: 100%;
	margin: 8px auto;
}

tbody>tr>td.tableControl {
	
}

.dataTable tbody>tr>td {
	text-align: left;
	padding: 4px;
	vertical-align: middle;
}

tbody>tr>td.tableControl a button {
	margin: 4px;
}

.btn.btn-enlarge {
	padding: 6px 30px;
}

#mainContentWrapper .ui-widget-content {
	border: none;
	background: none;
}

#mainContentWrapper .ui-widget-header {
	border: none;
	background: none;
	padding: 0px;
}

#mainContentWrapper .editFormTabContainer {
	background-color: #FFF;
	border: 1px solid #ddd;
}

#mainContentWrapper li a {
	outline-color: transparent;
}

.editFormTabContainer .rowContainer {
	padding: 8px;
}

.editFormTabContainer label.formLabel {
	min-width: 20%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.editFormTabContainer .rowContainer textarea.textInput {
	display: inline-block;
	width: 60%;
    height: 150px;
}

.editFormTabContainer .rowContainer .galleryUploader{
	display:inline-block;
}


.editFormTabContainer .rowContainer input[type=text].varcharInput,
.editFormTabContainer .rowContainer input[type=password].varcharInput  {
	display: inline-block;
	width: 60%;
}

.editFormTabContainer .rowContainer input[type=text].integerInput {
	display: inline-block;
	width: 100%;
	border:1px solid #ddd;
}



.editFormTabContainer .rowContainer input[type=file].fileInput {
	background-color:#EEE;
	display: block;
	width: 100%;
}
.editFormTabContainer .rowContainer img{
	margin:16px;
}
.editFormTabContainer .rowContainer img:hover{
	opacity:0.8;
}


#formBackButton{
	float: left;
	margin:8px;
}

#formActionButton{
	float: right;
	margin:8px;
}


.radioBtnContainer .formRadioLabel{
	font-weight:100;
	padding:8px;
	min-width:96px;
}

.radioBtnContainer .formRadioLabel:hover{
	cursor:pointer;
	opacity:0.8;
}

.radioBtnContainer, .selectContainer, .stepContainer{
	display:inline-block;
	width:75%;
}

.stepContainer input{
	margin:8px 0px;
}
.stepContainer a{
	padding:8px 16px;
	cursor:pointer;
}
.stepContainer a:hover{
	opacity:0.8;
	color:#888
}

.stepContainer .stepNum{
	padding:8px;
	font-weight:bold;
}

.editFormTabContainer .rowContainer .stepContainer input[type=text].varcharInput{
	width: 80%;
}


.updateDone{
	background-color: #FFF;
    border: 1px solid #ddd;
	padding:40px 16px;
	margin:16px 0px;
}

.updateDone>div{
	
	padding:16px 0px;
	
}



.sortableContainer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.sortableContainer .itemWrapper {
	cursor:move;
	margin: 4px;
	width: 23%;
	height:300px;
	float:left;
	background-color:#E5E5E5;
	text-align: center;
	border:1px solid #BBB;
}

.sortableContainer .itemWrapper2 {
	cursor:move;
	margin: 4px;
	background-color:#E5E5E5;
	text-align: center;
	border:1px solid #BBB;
}


.sortableContainer .itemWrapper.tobeRemoved .imageContainer{
	opacity:0.4;
}

.imageContainer{
	background-color:#E5E5E5;
	width: 100%;
	font-weight:100;
	height:250px;
}
.imageContainer2{
	background-color:#E5E5E5;
	width: 100%;
	font-weight:100;
	min-height:80px;
}

.imageContainer img{
}

.imageOptions{
	height:50px;
}

.cke{
	display:inline-block !important;
}

.galleryEditor.tobeRemoved .galleryEditorContainer{
	opacity:0.4;
}

.node-list .btn{
	float:right;
	margin:4px;
	
	
}

pre{
	clear: both;
}

option[selected]{
	font-weight:bold;
}

div.editDp{
	padding:4px;
	cursor:pointer;
	border-radius:4px;
}
.editDp:hover{
	background-color:#DDD;
	opacity:0.8;
}
.editDp .form-control.varcharInput{
	width:80px;	
	text-align:center;
}
.editDp .editLabel{
	float:right;
	visibility:hidden;	
	color:#19AAD6;
}
.editDp:hover .editLabel{
	visibility:visible;
}
