#leftmenu_logo {
	max-width: 100%;
	text-align:center;
	
	
	
	
}

#leftmenu_logo img {
	max-width: 80%;
	max-height: 80%;
}

#leftmenu_logo img:hover {
	/*opacity: 0.8;*/
}

#leftmenu_content a {
	text-decoration: none;
}

.menuTitle {
	padding: 24px 0px 4px 12px;
	color: #DDD;
	border-bottom:2px solid #333;
	font-weight:bold;
}

.menuWrapper {
	text-decoration: none;
	margin: auto;
	width: 90%;
	border-bottom: 1px solid #333;
}

/*
.menuWrapper img {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}
.menuWrapper.selected img {
	width: 24px;
	height: 24px;
}
*/

.menuWrapper .menuContent {
	color: #DDD;
	padding: 8px 12px;
}

.menuWrapper .menuContent:hover {
	background-color: #444;
}

/*icon*/
.menuWrapper .menuContent span{
	padding-right:8px;
	color: #DDD;
}

.menuWrapper.selected .menuContent  {
	background-color: #666;
	text-shadow: 2px 2px 2px #666;
}









.menuWrapper .submenu{
	padding:4px 0px 4px 32px;
	text-align: left;
}

.menuWrapper .submenu:hover {
	background-color: #BBB;
}
.menuWrapper .submenu a{
	color:#fff;
}


/*bootstrap icon*/
.white{
	color:#FFF;
}









.hoverMenu {
	position: absolute;
	top: 0px;
	left: 100%;
	height: auto;
	width: 80%;
	text-align: center;
	display:none;
	
	background-color: #222;
	color:#fff;
}
.hoverMenu a{
	color:#FFF;
}
.hoverMenu div{
	padding:6px;
	border-bottom: 2px solid #333;
}
.hoverMenu div:last-child {
	border:0px;
}
.hoverMenu div:hover{
	background-color: #BBB;
}

.menuHighlighted{
	display:block;
	display:none;
}