html {
	display: none;
}

body {
	background-repeat: no-repeat;
	background: url("../../images/blur_bg.jpg");
}

.errorContainer {
	opacity: 0;
	color: red;
	padding: 4px 0px;
}

#loginIncorrect {
	opacity: 0;
	color: red;
}

#loginForm .fieldGroup label {
	width: 20%;
	text-align: center;
}
#loginForm .fieldGroup input {
}

#formContainer {
	width: 20%;
	margin: auto;
	border: 1px solid #DDD;
	background-color: #F5F5F5;
	padding: 2%;
	min-width: 400px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

#loginForm #submitBtn {
	width: 100%;
}