.list_itemContainer{
	
	
	height:80px;
	border-bottom: 1px solid #CCC;	
	
}

.listItem_column{
	
	display:inline-block;
	height:100%;
	vertical-align:top;
}

.listItem_column:nth-child(1){
	text-align:center;
	width:60px;
}
.listItem_column>*{
	display:table;
	height:100%;
	width:100%;
}
.listItem_column *:hover{
	opacity:0.9;
	cursor:pointer;
}
.listItem_column>*>*{
	
	vertical-align:middle;
	display:table-cell;
	width:100%;
}

/*checkbox label*/
.listItem_column:nth-child(1)>*{
	-ms-transform: scale(1.25); /* IE */
	-moz-transform: scale(1.25); /* FF */
	-webkit-transform: scale(1.25); /* Safari and Chrome */
	-o-transform: scale(1.25); /* Opera */
	padding: 8px;
}




/*
.listItem_column .row_top{
	color:red;
}

.listItem_column .row_mid{
	color:green;
}

.listItem_column .row_bottom{
	color:blue;
}
*/