#top_left, #top_right{
	
	display:inline-block;
	width:50%;
	color:#DDD;
	height:100%;
}

#top_left a, #top_right a{
	color:#DDD;
	text-decoration:none;
}

#top_left{
	
	font-size:120%;
	text-align:left;'
}

#top_right{
	text-align:right;'
}

#top_right .topMenuItem{
	margin: 0px;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding: 8px 0px;
	width: 125px;
	text-align: center;
}

.topMenuItem:hover{
	background-color:#888;
	cursor:pointer;
}


#topmenu_usermenu{
	background-color: #2A2A2A;
	position: absolute;
	top: 36px;
	width: 125px;
	height: 72px;
}

.topMenuSubItem{
	height:36px;
	padding: 8px 0px;
	z-index:200;
	text-align: center;
}

.topMenuSubItem:hover{
	background-color:#888;
}

#topmenu_usermenu{
	
	display:none;
	
}